<br>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <tabset>
        <tab heading="General" id="tab1">
          <form [formGroup]='configForm'>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="hostName">Nombre del equipo</label>
              <div class="col-md-8">
                <input type="text" id="hostName" name="hostName" formControlName="hostName" class="form-control">
                <div *ngIf="configForm.controls['hostName'].errors?.required && (configForm.controls['hostName'].dirty || configForm.controls['hostName'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre del equipo es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="configMode">Modo de uso</label>
              <div class="col-md-8">
                <select id="configMode" name="configMode" formControlName="configMode" class="form-control" [ngClass]="{'is-invalid': !configForm.get('configMode').valid && (configForm.controls['configMode'].dirty || configForm.controls['configMode'].touched || submit)}">
                  <option value="">Seleccione un modo de uso</option>
                  <option *ngFor="let key of modesKeys" [ngValue]="key">{{ modes[key] | translate }}</option>
                </select>
                <div *ngIf="configForm.controls['configMode'].errors?.required && (configForm.controls['configMode'].dirty || configForm.controls['configMode'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El modo de uso es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="activeTip">Propina</label>
              <div class="custom-control custom-checkbox col-md-8">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" name="activeTip" formControlName="activeTip"
                    id="activeTip">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
            </div>
          </form>
        </tab>
        <tab heading="Compañia" id="tab2">
          <form [formGroup]='configForm'>
            <div class="row">
              <div class="col-md-12">
                <h3>Cabecera</h3>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="companyLogo">Logo de la empresa</label>
              <div class="image-upload col-md-10">
                <label for="file-input">
                  <img [src]="url" (error)="setDefaultPic()" title='Haz click para seleccionar la imagen' alt="Haz click para seleccionar la imagen" />
                </label>
                <input id="file-input" type="file" accept='image/*' (change)="onFileSelected($event)" />
                <div class="form-control-feedback" style="color: #20a8d8;">
                  Haz click sobre la imagen para seleccionar la tuya
                </div>
                <div *ngIf="isTooLarge" class="form-control-feedback text-danger">
                  El archivo no es una imagen <br>
                  O es demasiado grande
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="companyName">Nombre de la empresa</label>
              <div class="col-md-8">
                <input type="text" id="companyName" name="companyName" formControlName="companyName" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="nit">NIT:</label>
              <div class="col-md-8">
                <input type="text" id="nit" name="nit" formControlName="nit" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="address">Dirección:</label>
              <div class="col-md-8">
                <input type="text" id="address" name="address" formControlName="address" class="form-control">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <h3>Pie de pagina</h3>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" id="line1" name="line1" formControlName="line1" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" id="line2" name="line2" formControlName="line2" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" id="line3" name="line3" formControlName="line3" class="form-control">
              </div>
            </div>
          </form>
        </tab>

        <tab heading="Configuración de factura" id="tab3">
          <form [formGroup]='configForm'>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="activePrint">Activar Impresión de factura</label>
              <div class="custom-control custom-checkbox col-md-8">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" name="activePrint" formControlName="activePrint"
                    id="activePrint">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="prefix">Prefijo de la factura:</label>
              <div class="col-md-8">
                <input type="text" id="prefix" name="prefix" formControlName="prefix" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="size">Tamaño de la impresora:</label>
              <div class="col-md-8">
                <select id="size" name="size" formControlName="size" class="form-control">
                  <option value="">Seleccione un Tamaño</option>
                  <option *ngFor="let size of sizesKeys" [ngValue]="size">{{ sizes[size] | translate }}</option>
                </select>
              </div>
            </div>
          </form>
        </tab>

        <!--<tab heading="Configuración de impresora" id="tab4">
          <form [formGroup]='configForm'>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="activePrint">Printer Selected:</label>
              <div class="col-md-8">
                <select id="printerSelected" name="printerSelected" formControlName="printerSelected" class="form-control">
                  <option value="">Seleccione una impresora</option>
                  <option *ngFor="let print of printerList" [ngValue]="print">{{ prints[print] | translate }}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="prefix">Test Connection</label>
              <div class="col-md-8">
                <button ion-item (tap)="testConnectPrinter()">
                  Test Connection
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="size">Test Print</label>
              <div class="col-md-8">
                <button ion-item (tap)="testPrinter()">
                  Test Print
                </button>
              </div>
            </div>
          </form>
        </tab>-->
      </tabset>
      <br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary px-4 float-right" (click)="submitForm()">{{ 'acept' | translate
            }}</button>
        </div>
      </div>
    </div>
  </div>
</div>