.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
  }

.image-upload{
    background: #fff;
    color: #fff;
    border: 5px dashed rgb(181, 181, 181);
    border-radius: 5px;
    font-size: 20px;
}

.image-upload > label > img {
    height: 150px;
    padding: 10px;
  }