<br>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <!--<div class="btn-group btn-sales" role="group">
        <button class="btn btn-light btn-lg" routerLink="/sales/reservation"> <span class="fa fa-calendar fa-lg"></span>
          Reservas</button>
      </div>-->
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-light btn-lg" (click)='getPlaces()'> <span class="fa fa-repeat fa-lg"></span> Recargar</button>
      </div>
      <div *ngIf="tableMove">
        <h4>{{ 'table_move' | translate:{name: tableMove.name} }}</h4>
      </div>

    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <tabset>
        <tab *ngFor="let floor of floors">
          <ng-template tabHeading>
            <span class="fa fa-building-o fa-lg"></span> {{floor.name}}
          </ng-template>
          <div class="row">
            <div class="col-md-2 col-sm-3 col-6" *ngFor="let table of floor.places">
              <div class="form-group row">
                <div class="btn-group col-md-12" role="group">
                  <button class="btn btn-table btn-lg btn-block" (click)="navigateSales(table.id)" [ngClass]="{'btn-light': !table.occupied, 'btn-success': table.occupied && table.waiter === user.name, 'btn-primary': table.occupied && table.waiter!== user.name }">
                    <p class="btn-table-space btn-table-name">
                      <strong>{{table.name}}</strong>
                    </p>
                    <p class="btn-table-space" *ngIf="table.occupied">
                      {{table.waiter}}
                      {{getTime(table.occupied)}}
                      <br class="btn-table-space">
                      <span class="fa fa-users fa-lg" *ngIf="table.customer === null"></span>{{table.customer}}
                      <br class="btn-table-space">
                      Clientes: {{table.guests}}
                    </p>

                  </button>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>