<br>
<div class="animated fadeIn">
    <growpos-master-detail-table [data]="data" [displayedColumns]="displayedColumns" [dateFields]="dateFields" [translateFields]="translateFields"></growpos-master-detail-table>
</div>