<div class="invoice" [style.width.mm]="hostConfig.size == '1' ? '58' : '97'" id="invoice-POS" *ngIf="hostConfig">
  <div align="center" id="top">
    <img [src]="url" width="60px" height="60px">
    <h3><strong>{{hostConfig.companyName}}</strong></h3>
    <div class="info">
      <p>
        Nit: {{hostConfig.nit}}<br>
        Dirección: {{hostConfig.address}}<br>
      </p>
    </div>
  </div>

  <div id="mid">
    <div class="info">
      <p>
        <strong>Ticket:</strong> {{hostConfig.prefix}}{{ data.ticketId }}<br>
        <strong>Fecha:</strong> {{ data.date | date:"short" }}<br>
        <strong>Terminal:</strong> {{ data.host }}<br>
        <strong>Atendido por:</strong> {{ data.user.name }}<br>
      </p>
      <p *ngIf="data.customer">
        <strong>Cuenta #:</strong> {{data.customer.taxid}}<br>
        <strong>Cliente:</strong> {{data.customer.name}}<br>
        <strong>Direccion:</strong> {{data.customer.address}}<br>
        <strong>E-mail:</strong> {{data.customer.email}}<br>
        <strong>Telefono:</strong> {{data.customer.phone}}<br>
      </p>
    </div>
  </div>

  <div id="bot">
    <div id="table" >
      <table [style.width.mm]="hostConfig.size == '1' ? '58' : '97'">
        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Total Pagado</strong></h3>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td></td>
          <td class="payment">
            <h3><strong>{{data.total | currency}}</strong></h3>
          </td>
        </tr>
        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Balance de la Cuenta</strong></h3>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td></td>
          <td class="payment">
            <h3><strong>{{data.customer.curdebt | currency}}</strong></h3>
          </td>
        </tr>
        <div *ngFor="let payment of data.payments">
          <div *ngIf="payment.payment === 'cash'">
            <tr class="tabletitle">
              <td class="Rate">
                <h3><strong>Efectivo</strong></h3>
              </td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="tabletitle">
              <td class="Rate">
                Recibido:
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td class="payment">
                <h2><strong>{{payment.tendered | currency}}</strong></h2>
              </td>
            </tr>
            <tr class="tabletitle">
              <td class="Rate">
                Cambío:
              </td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td></td>
              <td class="payment">
                <h2><strong>{{payment.tendered - payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'magcard'">
            <tr class="tabletitle">
              <td class="Rate">
                <h3><strong>Tarjeta</strong></h3>
              </td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td></td>
              <td>
                <h2><strong>{{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'cashrefund'">
            <tr class="tabletitle">
              <td class="Rate">
                <h2><strong>Reembolso</strong></h2>
              </td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td></td>
              <td>
                <h2><strong>{{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'free'">
            <tr class="tabletitle">
              <td class="Rate">
                <h2><strong>Gratis</strong></h2>
              </td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td></td>
              <td>
                <h2><strong>{{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'debt'">
            <tr class="tabletitle">
              <td class="Rate">
                <h2><strong>A la cuenta</strong></h2>
              </td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td></td>
              <td>
                <h2><strong>{{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
        </div>
      </table>
    </div>

    <div id="legalcopy">
      <div align="center">
        <p class="legal">
          <span *ngIf="hostConfig.line1 !== ''">{{hostConfig.line1}}<br></span>
          <span *ngIf="hostConfig.line2 !== ''">{{hostConfig.line2}}<br></span>
          <span *ngIf="hostConfig.line3 !== ''">{{hostConfig.line3}}<br></span>
          Impreso por www.growpos.co
        </p>
      </div>
    </div>

  </div>
</div>