<div class="invoice" [style.width.mm]="hostConfig.size == '1' ? '60' : '97'" id="invoice-POS" *ngIf="hostConfig">
  <div align="center" id="top">
    <img [src]="url" width="60px" height="60px">
    <h3><strong>{{hostConfig.companyName}}</strong></h3>
    <div class="info">
      <p>
        <strong>Nit: {{hostConfig.nit}}</strong><br>
        <strong>Dirección: {{hostConfig.address}}</strong><br>
      </p>
    </div>
  </div>

  <div id="mid">
    <div class="info">
      <p>
        <strong *ngIf="data.ticketType !== 1">Ticket:<span *ngIf="data.ticketType !== 1">
            {{hostConfig.prefix}}{{ data.ticketId }}</span></strong><br>
        <strong *ngIf="data.ticketType === 1">Reembolso:<span *ngIf="data.ticketType === 1">{{ data.ticketId
            }}</span><br></strong>
        <strong>Fecha: {{ data.date | date:"short" }}</strong><br>
        <strong>Terminal: {{ data.host }}<br></strong>
        <strong>Atendido por: {{ data.user.name }}</strong><br>
      </p>
      <p *ngIf="data.customer">
        <strong>Cuenta #: {{data.customer.taxid}}</strong><br>
        <strong>Cliente: {{data.customer.name}}</strong><br>
        <strong>Direccion: {{data.customer.address}}</strong><br>
        <strong>E-mail: {{data.customer.email}}</strong><br>
        <strong>Telefono: {{data.customer.phone}}</strong><br>
        <strong>Deuda Actual: {{data.customer.curdebt | currency}}</strong><br>
      </p>
    </div>
  </div>

  <div id="bot">

    <div id="table">
      <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">
        <tr class="tabletitle">
          <td align="left">
            <h2><strong>Item</strong></h2>
          </td>
          <td align="center">
            <h2><strong>Cant</strong></h2>
          </td>
          <td align="center">
            <h2><strong>Precio</strong></h2>
          </td>
          <td *ngIf="hostConfig.size !== '1'" align="right">
            <h2><strong>SubTotal</strong></h2>
          </td>
        </tr>

        <tr class="service" *ngFor="let line of data.lines">
          <td class="tableitem">
            <p class="itemtext"><strong>{{line.attributes.name}}</strong></p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext"><strong>{{line.multiply}}</strong></p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext"><strong>{{line.price}}</strong></p>
          </td>
          <td class="tableitem" align="right" *ngIf="hostConfig.size !== '1'">
            <p class="itemtext">{{line.price * line.multiply}}</p>
          </td>
        </tr>

        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Total</strong></h3>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>${{data.total}}</strong></h3>
          </td>
        </tr>
      </table>
      <div *ngFor="let payment of data.payments">
        <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">
          <div *ngIf="payment.payment === 'cash'">
            <tr class="tabletitle">
              <td class="Rate">
                <h3><strong>Efectivo</strong></h3>
              </td>
              <td></td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
            </tr>
            <tr class="tabletitle">
              <td class="Rate">
                <strong> Recibido:</strong>
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td class="payment" align="right">
                <h2><strong>${{payment.tendered}}</strong></h2>
              </td>
            </tr>
            <tr class="tabletitle">
              <td class="Rate">
                <strong>Cambío:</strong>
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td class="payment" align="right">
                <h2><strong>${{payment.tendered - payment.total}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'magcard'">
            <tr class="tabletitle">
              <td class="Rate">
                <h3><strong>Tarjeta</strong></h3>
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td align="right">
                <h2><strong>${{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'cashrefund'">
            <tr class="tabletitle">
              <td class="Rate">
                <h2><strong>Reembolso</strong></h2>
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td align="right">
                <h2><strong>${{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'free'">
            <tr class="tabletitle">
              <td class="Rate">
                <h2><strong>Gratis</strong></h2>
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td align="right">
                <h2><strong>${{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
          <div *ngIf="payment.payment === 'debt'">
            <tr class="tabletitle">
              <td class="Rate">
                <h2><strong>A la cuenta</strong></h2>
              </td>
              <td></td>
              <td *ngIf="hostConfig.size !== '1'"></td>
              <td>
                <h2><strong>${{payment.total | currency}}</strong></h2>
              </td>
            </tr>
          </div>
        </table>
      </div>
      <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">
        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Impuestos</strong></h3>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.totalTaxes | currency}}</strong></h3>
          </td>
        </tr>

        <tr class="service" *ngFor="let tax of data.taxes">
          <td class="tableitem">
            <p class="itemtext"><strong>{{tax.tax.name}}</strong></p>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="tableitem">
            <p class="itemtext"><strong>{{tax.tax.rate | percent}}</strong></p>
          </td>
          <td class="tableitem">
            <p class="itemtext"><strong>{{tax.amount | currency}}</strong></p>
          </td>
        </tr>

      </table>
    </div>

    <div id="legalcopy">
      <div align="center">
        <p class="legal">
          <strong><span *ngIf="hostConfig.line1 !== '' && hostConfig.line1 !== null && hostConfig.line1 !== undefined">{{hostConfig.line1}}<br></span>
            <span *ngIf="hostConfig.line2 !== '' && hostConfig.line2 !== null && hostConfig.line2 !== undefined">{{hostConfig.line2}}<br></span>
            <span *ngIf="hostConfig.line3 !== '' && hostConfig.line3 !== null && hostConfig.line3 !== undefined">{{hostConfig.line3}}<br></span>
            Impreso por www.growpos.co
          </strong>
        </p>
      </div>
    </div>

  </div>
</div>