<div [class.isPrinting]="printService.isPrinting">
  <div class="modal-header">
    <h4 class="modal-title">Propina</h4>
    <button type="button" class="close" (click)="tipModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-md-4 col-sm-6">
        <div class="row">
          <label class="col-5 col-form-label" for="subtotal-input">
            <h4><strong>SubTotal</strong></h4>
          </label>
          <div class="col-7">
            <input type="text" id="subtotal-input" [ngModel]="subTotal" name="subtotal-input" class="form-control"
              disabled>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="row">
          <label class="col-5 col-form-label" for="tip">
            <h4><strong>Propina</strong></h4>
          </label>
          <div class="col-7">
            <input type="text" id="tip" [ngModel]="tipAmount" name="tip" class="form-control" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 space-bottom-sm">
        <div class="row">
          <label class="col-6 col-form-label" for="total-input">
            <h4><strong>Total</strong></h4>
          </label>
          <div class="col-6">
            <input type="text" id="total-input" [ngModel]="total" name="total-input" class="form-control" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="btn-group col-md-12" role="group">
          <button class="btn btn-secondary btn-block tip-btn" (click)="calculateTotal(0.1)"> <strong>10%</strong> <br> <span>{{subTotal+(subTotal*0.1)}}</span>
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="btn-group col-md-12" role="group">
          <button class="btn btn-secondary btn-block tip-btn" (click)="calculateTotal(0.15)"> <strong>15%</strong> <br> <span>{{subTotal+(subTotal*0.15)}}</span>
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="btn-group col-md-12" role="group">
          <button class="btn btn-secondary btn-block tip-btn" (click)="calculateTotal(0.2)"> <strong>20%</strong> <br> <span>{{subTotal+(subTotal*0.20)}}</span>
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <label class="col-md-6 col-form-label" for="tip-input">
        Valor
      </label>
      <div class="col-md-6">
        <input type="number" id="tip-input" [(ngModel)]="tipAmount" name="tip-input" (ngModelChange)="calculateTotal()"
          class="form-control">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-lg" (click)="pay()">Sin Propina <span class="fa fa-times"></span></button>
    <button type="button" class="btn btn-success btn-lg" [disabled]="tipAmount <= 0" (click)="pay()">Cobrar
      <span class="fa fa-check"></span></button>
  </div>

</div>