<div [class.isPrinting]="printService.isPrinting">
  <div class="modal-header">
    <h4 class="modal-title">Pago en Efectivo</h4>
    <button type="button" class="close" (click)="changeModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Cambio: {{change |currency}}</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-square btn-primary btn-lg" (click)="changeModal.hide()">OK <span class="fa fa-check fa-lg"></span></button>
  </div>
</div>