<div class="modal-header">
  <h4 class="modal-title">Crear proveedor</h4>
  <button type="button" class="close" (click)="createSupplier.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]='supplierForm' (ngSubmit)="saveSupplier()" class="form-horizontal" novalidate="novalidate">

    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="account-id-find-input">CIF/NIF</label>
      <div class="col-md-8">
        <input type="text" id="account-id-find-input" formControlName="taxid" name="account-id-find-input" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="search-key-find-input">Clave de Busqueda <strong class="text-danger">*</strong></label>
      <div class="col-md-8">
        <input type="text" id="search-key-find-input" formControlName="searchkey" name="search-key-find-input"
        [ngClass]="{'is-invalid': !supplierForm.get('searchkey').valid && (supplierForm.controls['searchkey'].dirty || supplierForm.controls['searchkey'].touched || submit)}" class="form-control">
        <div *ngIf="supplierForm.controls['searchkey'].errors?.required && (supplierForm.controls['searchkey'].dirty || supplierForm.controls['searchkey'].touched || submit)"
          class="form-control-feedback text-danger">
          La llave de busqueda es necesaria
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="postal-find-input">Proveedor <strong class="text-danger">*</strong></label>
      <div class="col-md-8">
        <input type="text" id="postal-find-input" formControlName="name" name="postal-find-input" 
        [ngClass]="{'is-invalid': !supplierForm.get('name').valid && (supplierForm.controls['name'].dirty || supplierForm.controls['name'].touched || submit)}" class="form-control">
        
        <div *ngIf="supplierForm.controls['name'].errors?.required && (supplierForm.controls['name'].dirty || supplierForm.controls['name'].touched || submit)"
          class="form-control-feedback text-danger">
          El nombre del proveedor es necesario
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="name-find-input">Primer Nombre</label>
      <div class="col-md-8">
        <input type="text" id="name-find-input" formControlName="firstname" name="name-find-input" class="form-control">
      </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="name-find-input">Apellido</label>
        <div class="col-md-8">
          <input type="text" id="name-find-input" formControlName="lastname" name="name-find-input" class="form-control">
        </div>
      </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="phone-find-input">Telefono</label>
      <div class="col-md-8">
        <input type="text" id="phone-find-input" formControlName="phone" name="phone-find-input" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="email-find-input">E-mail</label>
      <div class="col-md-8">
        <input type="email" id="email-find-input" formControlName="email" name="email-find-input" 
        [ngClass]="{'is-invalid': !supplierForm.get('email').valid && (supplierForm.controls['email'].touched)}" class="form-control" autocomplete="email">
        <div *ngIf="supplierForm.controls['email'].errors?.email && (supplierForm.controls['email'].touched)"
          class="form-control-feedback text-danger">
          El correo no es valido
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="createSupplier.hide()">Cerrar</button>
  <button type="button" class="btn btn-square btn-primary btn-lg" (click)="saveSupplier()" >Guardar <span class="fa fa-check"></span></button>
</div>