<div class="modal-header">
  <h4 class="modal-title">Selección de atributos</h4>
  <button type="button" class="close" (click)="setAttributeValuesModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]='setAttributeValuesForm' class="form-horizontal" novalidate="novalidate">

        <div *ngFor="let attribute of attributes" class="form-group row">
          <label class="col-md-3 col-form-label">{{attribute.name}} <strong class="text-danger">*</strong></label>
          <div class="col-md-9">
            <ng-select [items]="attribute.attribute_values" bindLabel="value" placeholder="Seleccione el valor"
              [formControlName]="attribute.name" [ngClass]="{'is-invalid': !setAttributeValuesForm.get(attribute.name).valid && (setAttributeValuesForm.controls[attribute.name].dirty || setAttributeValuesForm.controls[attribute.name].touched || submit)}">

            </ng-select>
            <div *ngIf="setAttributeValuesForm.controls[attribute.name].errors?.required && (setAttributeValuesForm.controls[attribute.name].dirty || setAttributeValuesForm.controls[attribute.name].touched || submit)"
              class="form-control-feedback text-danger">
              El valor es necesario
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg space-bottom-sm" (click)="setAttributeValuesModal.hide()">Cancelar</button>
  <button type="button" class="btn btn-square btn-primary btn-lg" (click)="okBtn()">Guardar<span class="fa fa-check"></span></button>
</div>