<br>
<div class="row">
  <div class="btn-group col-sm-4 col-md-4 col-lg-3" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button class="btn btn-square  btn-light btn-lg"> <span class="fa fa-plus fa-lg"></span></button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-square  btn-light btn-lg" > <span class="fa fa-trash fa-lg"></span></button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-square  btn-light btn-lg" > <span class="fa fa-floppy-o fa-lg"></span></button>
    </div>
  </div>
  <div class="btn-group col-sm-4 col-md-4 col-lg-3 offset-lg-6" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button class="btn btn-square  btn-light btn-lg"> <span class="fa fa-sign-in  fa-lg"></span> Recibir</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-square  btn-light btn-lg" routerLink="/sales/restaurant"> <span class="fa fa-th-large fa-lg"></span> Mesas</button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="name-input">Seleccionar Cliente</label>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3">
            <div class="btn-group" role="group">
              <button class="btn btn-square  btn-light btn-lg" (click)="openFindCustomerModal()"> <span class="fa fa-user-plus fa-lg"></span></button>
            </div>
          </div>
          <div class="col-md-9">
            <input type="text" id="name-input" name="name-input" class="form-control" placeholder="Text">
          </div>
        </div>
      </div>
      <label class="col-md-1 col-form-label" for="search-key-input">Personas</label>
      <div class="col-md-1">
        <input type="text" id="search-key-input" name="search-key-input" class="form-control">
      </div>
      <label class="col-md-1 col-form-label" for="search-key-input">Notas</label>
      <div class="col-md-3">
        <textarea type="text" id="given-input" name="given-input" class="form-control"></textarea>
      </div>
    </div>
  </div>

</div>