<br>
<div class="animated fadeIn">
    <div class="card mat-elevation-z4">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-form-label" for="date">Fecha de cierres de caja:</label>
                <div class="col-md-5 col-sm-5 space-bottom-sm">
                    <input [bsConfig]="{ isAnimated: true, rangeInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="bsRangeValue"
                        class="form-control" #drp="bsDaterangepicker" bsDaterangepicker>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                    <button class="btn btn-success" (click)="execute()">Ejecutar Informe</button>
                </div>
            </div>
        </div>
    </div>
    <growpos-master-detail-table [data]="data" [dateFields]="dateFields" [translateFields]="translateFields"></growpos-master-detail-table>
</div>