<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="btn-group btn-lg-horizontal-calculator" role="group">
        <button class="btn btn-square btn-light btn-lg" (click)="ceBtn()">CE</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg"> <span class="fa fa-minus fa-lg"></span></button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(1)">1</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(2)">2</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(3)">3</button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(4)">4</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(5)">5</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(6)">6</button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(7)">7</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(8)">8</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(9)">9</button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-lg-horizontal-calculator" role="group">
        <button class="btn btn-square btn-light btn-lg" (click)="numClicked(0)">0</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg">.</button>
      </div>
    </div>
  </div>
</div>