<br>
<div class="animated fadeIn">
    <div class="card mat-elevation-z4">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-form-label" for="date">Fecha de cierres de caja:</label>
                <div class="col-md-5 col-sm-5 space-bottom-sm">
                    <input [bsConfig]="{ isAnimated: true, rangeInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="bsRangeValue"
                        class="form-control" #drp="bsDaterangepicker" bsDaterangepicker>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 form-group">
                    <button class="btn btn-success" (click)="execute()">Ejecutar Informe</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mat-elevation-z4">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-12 col-sm-12 col-form-label">
                    <h1>Transacciones (Resumen de movimientos)</h1>
                </label>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="transactions">Balance monetario</label>
                        <div class="col-md-7">
                            <input type="text" id="total" [(ngModel)]="total" name="total" class="form-control"
                                [disabled]='true' value="" currencyMask >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="sales">Cantidad de documentos</label>
                        <div class="col-md-7">
                            <input type="text" id="countTicket" [(ngModel)]="countTicket" name="countTicket" class="form-control"
                                [disabled]='true' value="" >
                        </div>
                    </div>


                    <hr>

                </div>
                <div class="col-md-6">
                    <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
                        <table mat-table [dataSource]="data_payment">
                            <ng-container matColumnDef="ticket_no">
                                <th mat-header-cell *matHeaderCellDef> Cantidad Facturas </th>
                                <td mat-cell *matCellDef="let element">{{element.ticket_no}}</td>
                            </ng-container>
                            <ng-container matColumnDef="payment">
                                <th mat-header-cell *matHeaderCellDef> Transacciones</th>
                                <td mat-cell *matCellDef="let element">{{element.payment | translate}}</td>
                            </ng-container>
                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef>Total</th>
                                <td mat-cell *matCellDef="let element">{{element.total | currency}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
                                [ngClass]="{'active-cell': selectedItem == i}"></tr>
                        </table>
                    </div>
                    <br>
                </div>
                <hr>
                
            </div>

            <div class="form-group row">
                <div class="btn-group col-sm-12 col-md-12 col-lg-12">
                    <button *ngIf="!isActiveCash" type="button" class="btn btn-success btn-lg btn-block"
                        [disabled]="transactions === 0" (click)="showDetail=!showDetail"><span
                            class="fa fa-calculator"></span><strong>
                            Mostrar Detalles</strong>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="showDetail">
        <growpos-master-detail-table [data]="data" [dateFields]="dateFields" [translateFields]="translateFields">
        </growpos-master-detail-table>
    </div>
</div>