<div class="row">
  <div class="col-md-1 col-sm-1 ">
      
    <h3><span *ngIf="edit" class="fa fa-edit fa-lg text-info"></span> {{itemSelected}}</h3>
  </div>
  <div class="col-md-5 col-sm-4 space-bottom-sm">
    <div class="btn-group btn-arrow" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnAngleLeftOnClick()" [disabled]="angleLeft"> <span class="fa fa-angle-double-left fa-lg"></span></button>
    </div>
    <div class="btn-group btn-arrow" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnLeftOnClick()" [disabled]="left"> <span class="fa fa-angle-left fa-lg"></span></button>
    </div>
    <div class="btn-group btn-arrow" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnDownOnClick()" [disabled]="down"> <span class="fa fa-angle-down fa-lg"></span></button>
    </div>
    <div class="btn-group btn-arrow" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnRightOnClick()" [disabled]="right"> <span class="fa fa-angle-right fa-lg"></span></button>
    </div>
    <div class="btn-group btn-arrow" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnAngleRightOnClick()" [disabled]="angleRight"> <span class="fa fa-angle-double-right fa-lg"></span></button>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 space-bottom-sm">
    <div class="btn-group btn-tools" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnRepeatOnClick()"> <span class="fa fa-repeat fa-lg"></span></button>
    </div>
    <div class="btn-group btn-tools" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnSearchOnClick()"> <span class="fa fa-search fa-lg"></span></button>
    </div>
    <div class="btn-group btn-tools" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnSortOnClick()"> <span class="fa fa-arrows-v fa-lg"></span></button>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="btn-group btn-tools" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnAddOnClick()" [disabled]="add"> <span class="fa fa-plus-square fa-lg"></span></button>
    </div>
    <div class="btn-group btn-tools" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="confirmDeletion.show()" [disabled]="trash"> <span class="fa fa-trash fa-lg"></span></button>
    </div>
    <div class="btn-group btn-tools" role="group">
      <button class="btn btn-square  btn-light btn-lg btn-block" (click)="btnSaveOnClick()" [disabled]="save"> <span class="fa fa-floppy-o fa-lg"></span></button>
    </div>
  </div>
</div>

<div bsModal #confirmDeletion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Registro</h4>
        <button type="button" class="close" (click)="confirmDeletion.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Esta seguro que desea eliminar el registro ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="btnTrashOnClick()">Si</button>
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="confirmDeletion.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->