<br>
<div class="animated fadeIn">
  
  <!--/.row-->
  <div class="card mat-elevation-z2">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">{{ 'dashboard.consolidated-sales' | translate }}</h4>
          <div class="small text-muted">Jun 2020</div>
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>-->
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">{{ 'dashboard.day' | translate }}</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month"
              id="option2">{{ 'dashboard.month' | translate }}</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">{{ 'dashboard.year' | translate }}</label>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">{{ 'dashboard.top-selling-product' | translate }}</div>
          <strong>{{productBestSelling.name}} {{productBestSelling.units}}</strong>
          
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">{{ 'dashboard.total-sales' | translate }}</div>
          <strong>{{totalSales.total | currency}}</strong>
          
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">{{ 'dashboard.total-number-tickets' | translate }}</div>
          <strong>{{ numTicket.number }}</strong>
          
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">{{ 'dashboard.product-with-lower-inventory' | translate }}</div>
          <strong>{{withLowerInventory.name}} ({{withLowerInventory.current}})</strong>
          
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">{{ 'dashboard.profit' | translate }}</div>
          <strong>{{profit.profit | currency}}</strong>
          
        </div>
      </div>
    </div>
  </div>

  <!--Table-->
  <!--/.row-->
  <div [hidden]="restaurantMode != configModes.restaurant" class="row">
    <div class="col-lg-12">
      <div class="card mat-elevation-z2">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Mesas
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>{{ 'dashboard.employee' | translate }}</th>
                <th>{{ 'dashboard.date' | translate }}</th>
                <th>{{ 'dashboard.status-tables' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of places; let i =index">
                <td>{{item.waiter}} ({{item.name}}) </td>
                <td>{{item.occupied | date:'short'}}</td>
                <td>
                  <span *ngIf="!item.occupied" class="badge badge-success"> {{ 'dashboard.free' | translate }} </span>
                  <span *ngIf="item.occupied" class="badge badge-warning"> {{ 'dashboard.busy' | translate }} </span> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
    <!--/.row-->

  </div>
</div>