<br>
<div class="animated fadeIn">
  <div class="card mat-elevation-z4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-6 col-form-label" for="date">Seleccionar cliente:</label>
            <div class="col-md-6">
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="openFindCustomerModal()"><strong>
                Seleccionar</strong></button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name">Nombre</label>
            <div class="col-md-8">
              <input type="text" id="name" name="name" [(ngModel)]="ticket.customer.name" class="form-control" [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name">CIF/NIF</label>
            <div class="col-md-8">
              <input type="text" id="name" name="name" [(ngModel)]="ticket.customer.searchkey" class="form-control" [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="customer.maxdebt">Deuda Maxima</label>
            <div class="col-md-8">
              <input type="tel" id="name" name="name" currencyMask [(ngModel)]="ticket.customer.maxdebt" class="form-control" [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="customer.curdebt">Deuda Actual</label>
            <div class="col-md-8">
              <input type="tel" id="name" name="name" currencyMask [(ngModel)]="ticket.customer.curdebt" class="form-control" [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name">Fecha De La Deuda</label>
            <div class="col-md-8">
              <input type="text" id="name" name="name" [ngModel]="ticket.customer.curdate | date:'short'" class="form-control" [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name">Cantidad a abonar</label>
            <div class="col-md-8">
              <input type="tel" id="name" name="name" currencyMask [(ngModel)]="prePayAmount" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name">Nota de la transacción</label>
            <div class="col-md-8">
              <input type="text" id="name" name="name" [(ngModel)]="note" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6 space-bottom-sm">
          <growpos-master-detail-table [pageSize]="4" [data]="transactions" [dateFields]="dateFields" [translateFields]="translateFields"></growpos-master-detail-table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 space-bottom-sm">
          <button type="button" class="btn btn-success btn-lg btn-block" (click)="prePay()" [disabled]="ticket.customer.curdebt <= 0 || prePayAmount <= 0"><strong>
              Abonar</strong></button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-success btn-lg btn-block" (click)="pay()" [disabled]="ticket.customer.curdebt <= 0"><strong>
            Pagar</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>