<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="saveSupplier()" (btnAdd)="selectSupplier(null)"
    (btnTrash)="deleteSupplier()"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="suppliers" [newItem]="newItem" listHeight="40em" itemName="name"
        (onClick)="selectSupplier($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='supplierForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="taxid">ID de la cuenta</label>
              <div class="col-md-4">
                <input type="text" id="taxid" name="taxid" formControlName="taxid" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="searchkey">Llave de busqueda <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="searchkey" name="searchkey" formControlName="searchkey" class="form-control"
                  [ngClass]="{'is-invalid': !supplierForm.get('searchkey').valid && (supplierForm.controls['searchkey'].dirty || supplierForm.controls['searchkey'].touched || submit)}">
                <div *ngIf="supplierForm.controls['searchkey'].errors?.required && (supplierForm.controls['searchkey'].dirty || supplierForm.controls['searchkey'].touched || submit)"
                  class="form-control-feedback text-danger">
                  la llave de busqueda es necesaria
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">Nombre <strong class="text-danger">*</strong></label>
              <div class="col-md-10">
                <input type="text" id="name" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': !supplierForm.get('name').valid && (supplierForm.controls['name'].dirty || supplierForm.controls['name'].touched || submit)}">
                <div *ngIf="supplierForm.controls['name'].errors?.required && (supplierForm.controls['name'].dirty || supplierForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                Visible
              </label>
              <div class="custom-control custom-checkbox col-md-4">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" name="visible" formControlName="visible" id="visible">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
              <label class="col-md-2 col-form-label" for="maxdebt">Deuda Máxima</label>
              <div class="col-md-4">
                <input type="text" id="maxdebt" name="maxdebt" formControlName="maxdebt" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="curdebt">Deuda Actual</label>
              <div class="col-md-4">
                <input type="text" id="curdebt" name="curdebt" formControlName="curdebt" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="curdate">Fecha de la deuda</label>
              <div class="col-md-4">
                <input type="text" id="curdate" name="curdate" formControlName="curdate" class="form-control">
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12">
              <tabset>
                <tab heading="Contacto" id="tab1">
                  <form [formGroup]='supplierForm' class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="firstname">Nombre</label>
                      <div class="col-md-4">
                        <input type="text" id="firstname" name="firstname" formControlName="firstname" class="form-control">
                      </div>
                      <label class="col-md-2 col-form-label" for="lastname">Apellidos</label>
                      <div class="col-md-4">
                        <input type="text" id="lastname" name="lastname" formControlName="lastname" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="email">E-mail</label>
                      <div class="col-md-4">
                        <input type="text" id="email" name="email" formControlName="email" class="form-control">
                      </div>
                      <label class="col-md-2 col-form-label" for="phone">Teléfono</label>
                      <div class="col-md-4">
                        <input type="text" id="phone" name="phone" formControlName="phone" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="phone2">Teléfono Alternativo</label>
                      <div class="col-md-4">
                        <input type="text" id="phone2" name="phone2" formControlName="phone2" class="form-control">
                      </div>
                      <label class="col-md-2 col-form-label" for="fax">Fax</label>
                      <div class="col-md-4">
                        <input type="text" id="fax" name="fax" formControlName="fax" class="form-control">
                      </div>
                    </div>
                  </form>
                </tab>
                <tab heading="Almacén">
                  <form [formGroup]='supplierForm' class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="address">Dirección 1</label>
                      <div class="col-md-4">
                        <input type="text" id="address" name="address" formControlName="address" class="form-control">
                      </div>
                      <label class="col-md-2 col-form-label" for="address2">Dirección 2</label>
                      <div class="col-md-4">
                        <input type="text" id="address2" name="address2" formControlName="address2" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="city">Ciudad</label>
                      <div class="col-md-4">
                        <input type="text" id="city" name="city" formControlName="city" class="form-control">
                      </div>
                      <label class="col-md-2 col-form-label" for="region">Región</label>
                      <div class="col-md-4">
                        <input type="text" id="region" name="region" formControlName="region" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="postal">Código Postal</label>
                      <div class="col-md-4">
                        <input type="text" id="postal" name="postal" formControlName="postal" class="form-control">
                      </div>
                      <label class="col-md-2 col-form-label" for="country">País</label>
                      <div class="col-md-4">
                        <input type="text" id="country" name="country" formControlName="country" class="form-control">
                      </div>
                    </div>
                  </form>
                </tab>
                <tab heading="Transacciones" id="tab1">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="items-container mat-elevation-z0">
                      <table mat-table [dataSource]="transactions">

                        <!-- Position Column -->
                        <ng-container matColumnDef="ticketid">
                          <th mat-header-cell *matHeaderCellDef> Ticket </th>
                          <td mat-cell *matCellDef="let element"> {{element.ticketid}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef> Fecha </th>
                          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="product">
                          <th mat-header-cell *matHeaderCellDef> Producto </th>
                          <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                          <th mat-header-cell *matHeaderCellDef> Total </th>
                          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                  </div>

                </tab>
                <tab heading="Notas" id="tab1">
                  <form [formGroup]='supplierForm' class="form-horizontal">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <textarea type="text-area" id="notes" name="notes" formControlName="notes" class="form-control"></textarea>
                      </div>
                    </div>
                  </form>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>