<div class="modal-header">
  <h4 class="modal-title">Buscar Cliente</h4>
  <button type="button" class="close" (click)="findCustomerModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]='filterForm' class="form-horizontal" novalidate="novalidate">
        <!--<div class="form-group row">
          <label class="col-md-4 col-form-label" for="account-id-find-input">CIF/NIF</label>
          <div class="col-md-8">
            <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control">
          </div>
        </div>-->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="searchkey">Llave de busqueda</label>
          <div class="col-md-8">
            <input type="text" id="searchkey" name="searchkey" formControlName="searchkey" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="postal">Postal</label>
          <div class="col-md-8">
            <input type="text" id="postal" name="postal" formControlName="postal" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="name">Nombre</label>
          <div class="col-md-8">
            <input type="text" id="name" name="name" formControlName="name" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="phone">Telefono</label>
          <div class="col-md-8">
            <input type="text" id="phone" name="phone" fromControlName="phone" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="email">Email</label>
          <div class="col-md-8">
            <input type="email" id="email" name="email" fromControlName="email" class="form-control" autocomplete="email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 btn-group space-bottom-sm" role="group">
            <button class="btn btn-square  btn-light" (click)="clearForm()">Reiniciar <span class="fa fa-repeat"></span></button>
          </div>
          <div class="col-md-6 btn-group space-bottom-sm" role="group">
            <button class="btn btn-square  btn-primary" (click)="getCustomers()">Ejecutar <span class="fa fa-check"></span></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <app-item-list [items]="customers" listHeight="21em" [emit]="emit" itemName="name" (onClick)="selectCustomer($event)">
      </app-item-list>
    </div>
  </div>
  <br>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg space-bottom-sm" (click)="findCustomerModal.hide()">Cancelar</button>
  <button type="button" class="btn btn-square btn-primary btn-lg" (click)="okBtn()">Guardar<span class="fa fa-check"></span></button>
</div>