.btn-calculator{
    width: 33%;
    //width: 45px;
    height: 55px;
};

.btn-lg-horizontal-calculator{
    width: 66%;
    height: 55px;
}

.btn-lg-vertical-calculator{
    width: 100%;
    height: 110px;
}

.btn-sales-left{
    width: 100%;
    height: 55px;
}

.btn-sales{
    height: 55px;
}
