<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="btn-group btn-lg-horizontal-calculator" role="group">
        <button class="btn btn-square btn-light btn-lg"><strong>CE</strong></button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg"><strong>*</strong></button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(1)">1</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(2)">2</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(3)">3</button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(4)">4</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(5)">5</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg"(click)="numClicked(6)">6</button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(7)">7</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(8)">8</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg" (click)="numClicked(9)">9</button>
      </div>
    </div>
    <div class="row">
      <div class="btn-group btn-lg-horizontal-calculator" role="group">
        <button class="btn btn-square btn-light btn-lg" (click)="numClicked(0)">0</button>
      </div>
      <div class="btn-group btn-calculator" role="group">
        <button class="btn btn-square  btn-light btn-lg">.</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row btn-sales">
      <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-minus fa-lg"></span></button>
    </div>
    <div class="row">
      <button class="btn btn-square btn-lg-vertical-calculator btn-light btn-lg btn-block"> <span class="fa fa-plus fa-lg"></span></button>
    </div>
    <div class="row">
      <button class="btn btn-square btn-lg-vertical-calculator btn-light btn-lg btn-block" (click)="equalClicked()"><strong>=</strong></button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8 col-lg-9">
    <input type="text" class="form-control" [(ngModel)]="barcode" name="FirstName">
  </div>
  <div class="col-md-4 col-lg-3">
    <button class="btn btn-square btn-light  btn-block"> <span class="fa fa-barcode"></span></button>
  </div>
</div>