.list-product{
    margin-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    background-color: #f0f3f5;
}
.inline-product{
    display: flex;
}
.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 5px;
    padding: 1px;
    margin: 2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-row {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

.product-item:hover {
    color: #aee2f3;
    transition: 0.25s ease-in-out;
    border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

.product-item-body {
    text-align: center;
    width: 100%;
    padding: 5px 9px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 14px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    border-bottom: 5px solid white;
}