<ng-select *ngIf='haveFilter' [items]="items" [bindLabel]="itemName" [isOpen]="false" (search)="onSearch($event)" >
</ng-select>
<cdk-virtual-scroll-viewport itemSize="30" minBufferPx="700" maxBufferPx="1200" [ngStyle]="{'height':listHeight}" class="list-product">
  <div *ngIf="items" class="inline-product">
    <div class="row product-row">
      <div *cdkVirtualFor="let item of itemsTmp" class="col-md-3 col-sm-3 col-6" [style.padding]="'0px'">
        <div (click)="clickItem(item)" [style.height]="'120px'" [ngStyle]="{'background-image':'url('+(imgUrl+'/product/'+item['id']+'/getProductImage')+ '), url(../../../assets/img/product.svg)'}"
          class="product-item">
          <div class="product-item-body">
              <span>{{item[itemName]}}</span>
          </div>
          <!--<a class="product-item-body">
            
            <p class="font-weight-bold font-xs btn-block text-muted product-item-body"> {{item[itemName]}}</p>
          </a>-->
        </div>
      </div>
    </div>
  </div>

</cdk-virtual-scroll-viewport>