<div class="animated fadeIn module-menu">
  <div class="row">
    <div class="col-md-12">
      <div class="card mat-elevation-z2">
        <div class="card-header">
          <h5>{{module.name | translate}}</h5>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="module.manageItems.length > 0">
            <div class="col-md-12">
              <h6>{{module.manage | translate}} </h6>
              <hr>
              <div class="row">
                <div class="col-md-2 col-6" *ngFor="let manageItem of module.manageItems">
                  <div class="btn-group col-md-12 module-menu-option" role="group">
                    <button class="btn btn-menu btn-block" [routerLink]="manageItem.url"> <span [ngClass]="manageItem.icon"></span>
                      {{manageItem.name | translate}} </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="module.reportsItems.length > 0">
            <div class="col md 12">
              <h6>{{module.reports | translate}} </h6>
              <hr>
              <div class="row">
                <div class="col-md-2 col-6" *ngFor="let reportItem of module.reportsItems">
                  <div class="btn-group col-md-12 module-menu-option" role="group">
                    <button class="btn btn-menu btn-block" [routerLink]="reportItem.url"> <span [ngClass]="reportItem.icon"></span>
                      {{reportItem.name | translate}} </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>