<div class="mat-elevation-z4">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" class="filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <ng-container [matColumnDef]="cols" *ngFor="let cols of displayedColumnsI; let i = index">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{cols | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="{'col-value': element.details === undefined}">
        <!-- expand caret -->
        <span *ngIf="i === 0 && element.details">
          <span *ngIf="expandedElement && expandedElement[cols] === element[cols]; else plusIcon" class="expand-icon">&#9650;</span>
          <ng-template #plusIcon><span class="expand-icon">&#9660;</span></ng-template>
        </span>
        <span>{{element[cols] | masterDetail:cols:translateFieldsf:dateFieldsf:currencyFieldsf }}</span>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail" [hidden]="detail.element !== expandedElement">
        <growpos-master-detail-table [data]="detail.element.details" [dateFields]="dateFieldsf" [translateFields]="translateFieldsf"
          [currencyFields]="currencyFieldsf" class="detail-table"></growpos-master-detail-table>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsI"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsI;" [class.expanded]="expandedElement == row" (click)="toggleRow(row)"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
      style="overflow: hidden"></mat-row>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="pageSizef"
    [pageSizeOptions]="[pageSizef, 50, 100, 250]">
  </mat-paginator>
</div>