.detail-table {
    display: flex;
    flex-direction: column;
    display: block;
    margin: 10px;
    width: 100%;
}

.expand-icon {
    color: rgba(0,0,0,.44);
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.col-value:first-child span{
    margin-left: 15px;
}

.mat-form-field {padding: 10px 10px 0 10px;
    width: calc(100% - 20px);
}

.mat-row, .mat-header-row {  
    min-width: 150px;  
    width: 100%;  
 }  