<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="saveReg()" (btnTrash)="delete()"
    (btnAdd)="select(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="characteristics" listHeight="40em" itemName="description" (onClick)="select($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='dataForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">Descripcion <strong class="text-danger">*</strong></label>
              <div class="col-md-12">
                <input type="text" id="description" name="description" formControlName="description" class="form-control" [ngClass]="{'is-invalid': !dataForm.get('description').valid && (dataForm.controls['description'].dirty || dataForm.controls['description'].touched || submit)}">
                <div *ngIf="dataForm.controls['description'].errors?.required && (dataForm.controls['description'].dirty || dataForm.controls['description'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La descripción es necesaria
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                Activo
              </label>
              <div class="col-md-3">
                <label class="switch switch-label switch-secondary">
                  <input type="checkbox" formControlName="state" class="switch-input">
                  <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>