<div class="modal-header">
  <h4 class="modal-title">Precio Variable</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group col-md-12" role="group">
        <button class="btn btn-success btn-block" (click)="setOriginalPrice()"> <strong>{{originalPrice | currency}}</strong>
        </button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <label class="col-md-3 col-form-label" for="price"><strong>Precio</strong></label>
    <div class="col-md-9">
      <input type="tel" id="price" name="price" currencyMask [options]="{ prefix: '$ ', precision: '0' }"  [(ngModel)]="price" class="form-control" disabled>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
        <app-numeric-keyboard (valueEmt)="givenKeyBoard($event)"> </app-numeric-keyboard>
    </div>
  </div>
  <br>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-lg" (click)="okBtn()">Aceptar<span class="fa fa-check"></span></button>
</div>