// ------------------------------ btn sales ------------------

.btn-sales-left{
    width: 100%;
    height: 55px;
}

.btn-sales{
    height: 55px;
}

// -------------------- btn calculator ----------------------
.btn-calculator{
    width: 33%;
    //width: 45px;
    height: 55px;
};

.btn-lg-horizontal-calculator{
    width: 66%;
    height: 55px;
}

.btn-lg-vertical-calculator{
    width: 100%;
    height: 110px;
}





.list-product{
    max-height: 300px;
    height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    background-color: #f0f3f5;
}


.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 3px;
    width: 110px;
    height: 115px;
    margin: 10px;
}

a.product-item:hover {
    background-color: #aee2f3;
    transition: 0.25s ease-in-out;
    border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

.product-item-body {
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    text-align: center;
}

p.product-item-body{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
} 

.img-product{
    max-width: 100%;
    height: auto;
    max-height: 78px; 
}

// -------------------- Table items ---------------------------
th.mat-header-cell {
    background-color: #f0f3f5;
}

.items-container {
    height: 400px;
    overflow: auto;
    border: 2px solid #f0f3f5;
}
.items-container-split {
    height: 220px;
    overflow: auto;
}
table.mat-table {
    width: 100%;
    border: 1px solid #f0f3f5;
}

tr.mat-row:hover{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
    transition: 0.25s ease-in-out;
    //border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

td.mat-cell{
    border-bottom-color: #f0f3f5;
}
