<div class="animated fadeIn">
  <div class="row">
    <div class="btn-group col-sm-4 col-md-4 col-lg-3" role="group" aria-label="...">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-square btn-light dropdown-toggle"
          aria-controls="dropdown-basic">
          <span class="fa fa-address-card-o fa-lg"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" (click)="openFindCustomerModal()">Find</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="openCreateCustomerModal()">Create</a></li>
        </ul>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg" [disabled]="tableData.length < 2" (click)="splitReceipt.show()">
          <span class="fa fa-scissors fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg"> <span class="fa fa-list-alt fa-lg"></span></button>
      </div>
    </div>
    <div class="btn-group col-sm-4 col-md-4 col-lg-3" role="group" aria-label="...">
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" (click)="numberGuest.show()"> <span class="fa fa-user-plus fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" routerLink="/sales/restaurant"> <span class="fa fa-th-large fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-compress fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" (click)="confirmDeletionReceipt.show()"> <span class="fa fa-trash fa-lg"></span></button>
      </div>
    </div>
    <div class="btn-group col-sm-4 col-md-4 col-lg-2 offset-lg-3 offset-xl-3 " role="group" aria-label="...">
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-print fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-percent fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-print fa-lg"></span></button>
      </div>
      <div class="btn-group btn-sales" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-chevron-down fa-lg"></span></button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-1 col-md-1">
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="confirmDeletionLine.show()">
          <span class="fa fa-minus fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" (click)="openProductListModal()"> <span class="fa fa-search fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="editLine.show()">
          <span class="fa fa-pencil fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="noAttributesInfo.show()">
          <span class="fa fa-tags fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="productInfo.show()"></button>
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-9 ">
      <div class="items-container mat-elevation-z0">
        <table mat-table [dataSource]="tableData">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="pricesell">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.pricesell}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef> Units </th>
            <td mat-cell *matCellDef="let element"> {{element.units}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="taxes">
            <th mat-header-cell *matHeaderCellDef> Taxes </th>
            <td mat-cell *matCellDef="let element"> {{element.taxes}} </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <ng-container matColumnDef="printer">
            <th mat-header-cell *matHeaderCellDef> Printer </th>
            <td mat-cell *matCellDef="let element"> {{element.printer}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
        </table>
      </div>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-2">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="btn-group btn-lg-horizontal-calculator" role="group">
              <button class="btn btn-square btn-light btn-lg"><strong>CE</strong></button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg"><strong>*</strong></button>
            </div>
          </div>
          <div class="row">
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">1</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">2</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">3</button>
            </div>
          </div>
          <div class="row">
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">4</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">5</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">6</button>
            </div>
          </div>
          <div class="row">
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">7</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">8</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">9</button>
            </div>
          </div>
          <div class="row">
            <div class="btn-group btn-lg-horizontal-calculator" role="group">
              <button class="btn btn-square btn-light btn-lg">0</button>
            </div>
            <div class="btn-group btn-calculator" role="group">
              <button class="btn btn-square  btn-light btn-lg">.</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row btn-sales">
            <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-minus fa-lg"></span></button>
          </div>
          <div class="row">
            <button class="btn btn-square btn-lg-vertical-calculator btn-light btn-lg btn-block"> <span class="fa fa-plus fa-lg"></span></button>
          </div>
          <div class="row">
            <button class="btn btn-square btn-lg-vertical-calculator btn-light btn-lg btn-block" (click)="openPaymentsModal()"><strong>=</strong></button>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <input type="text" class="form-control" name="FirstName">
        </div>
        <div class="col-md-4 col-lg-3">
          <button class="btn btn-square btn-light  btn-block"> <span class="fa fa-barcode"></span></button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <label class="switch switch-secondary">
            <input checked="" class="switch-input" type="checkbox"><span class="switch-slider"></span>
          </label>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="btn-group btn-block" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-square btn-light dropdown-toggle"
              aria-controls="dropdown-basic">
              Button <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 form-group">
          <input type="text" class="form-control" name="FirstName" style="background-color: #f0f3f5;" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <p>Administrator - Table 1</p>
    </div>
    <div class="col-md-2 offset-md-1">
      <p class="align-middle">Sub Total</p>
    </div>
    <div class="col-md-2">
      <p class="align-middle">Tax</p>
    </div>
    <div class="col-md-2">
      <p class="align-middle">Total</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-4 form-group">
      <input type="text" class="form-control" name="FirstName" style="background-color: #f0f3f5;" disabled>
    </div>
    <div class="col-md-2 form-group">
      <input type="text" class="form-control" name="FirstName" style="background-color: #f0f3f5;" disabled>
    </div>
    <div class="col-md-2 form-group">
      <input type="text" class="form-control" name="FirstName" style="background-color: #f0f3f5;" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <app-item-list [items]="categories" listHeight="300px" itemName="catName" itemImage="catImg" (onClick)="selectCategory($event)">
      </app-item-list>
    </div>
    <div class="col-md-9 list-product">
      <div class="row">
        <a class="product-item" *ngFor="let product of products" (click)="addProduct(product)">
          <a class="product-item-body">
            <img [src]="product.image" class="img-product">
            <p class="font-weight-bold font-xs btn-block text-muted product-item-body">{{product.name}} </p>
          </a>
        </a>
      </div>

    </div>
  </div>
</div>

<div bsModal #editLine="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Line</h4>
        <button type="button" class="close" (click)="editLine.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-6">

          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Item</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Units</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Price</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Price + Taxes</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Taxes</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Subtotal</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="name-input">Total</label>
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <app-numeric-keyboard> </app-numeric-keyboard>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="editLine.hide()">Close</button>
        <button type="button" class="btn btn-square btn-primary btn-lg">Save changes <span class="fa fa-check"></span></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDeletionLine="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Clear Order Check</h4>
        <button type="button" class="close" (click)="confirmDeletionLine.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Are you sure you want to Delete ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg">Yes</button>
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="confirmDeletionLine.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #noAttributesInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cash Register Message</h4>
        <button type="button" class="close" (click)="noAttributesInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-info-circle fa-lg"></span> Attributes for this Product have not been set

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="noAttributesInfo.hide()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #productInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Info</h4>
        <button type="button" class="close" (click)="productInfo.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-sm-3">
          <span class="fa fa-info-circle fa-lg"> </span>
        </div>
        <div class="col-sm-9">
          <p>Location: Ubicacion 1</p>
          <p>Maximum: 0.0</p>
          <p>Minumum: 0.0</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="productInfo.hide()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #splitReceipt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Split Receipt</h4>
        <button type="button" class="close" (click)="splitReceipt.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
            <div class="btn-group col-md-4" role="group">
              <button class="btn btn-square  btn-light btn-lg btn-block" (click)="openFindCustomerModal()"> <span class="fa fa-user fa-lg"></span></button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 items-container-split mat-elevation-z0">
              <table mat-table [dataSource]="tableData">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Item </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="pricesell">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.pricesell}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="units">
                  <th mat-header-cell *matHeaderCellDef> Units </th>
                  <td mat-cell *matCellDef="let element"> {{element.units}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="taxes">
                  <th mat-header-cell *matHeaderCellDef> Taxes </th>
                  <td mat-cell *matCellDef="let element"> {{element.taxes}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Value </th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <ng-container matColumnDef="printer">
                  <th mat-header-cell *matHeaderCellDef> Printer </th>
                  <td mat-cell *matCellDef="let element"> {{element.printer}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Subtotal</label>
                <div class="col-md-8">
                  <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control"
                    disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Tax</label>
                <div class="col-md-8">
                  <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control"
                    disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Total</label>
                <div class="col-md-8">
                  <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control"
                    disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-angle-double-right fa-lg"></span></button>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-angle-right fa-lg"></span></button>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-angle-left fa-lg"></span></button>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn btn-square  btn-light btn-lg btn-block"> <span class="fa fa-angle-double-left fa-lg"></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
            <div class="btn-group col-md-4" role="group">
              <button class="btn btn-square  btn-light btn-lg btn-block" (click)="openFindCustomerModal()"> <span class="fa fa-user fa-lg"></span></button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 items-container-split mat-elevation-z0">
              <table mat-table [dataSource]="tableData">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Item </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="pricesell">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.pricesell}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="units">
                  <th mat-header-cell *matHeaderCellDef> Units </th>
                  <td mat-cell *matCellDef="let element"> {{element.units}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="taxes">
                  <th mat-header-cell *matHeaderCellDef> Taxes </th>
                  <td mat-cell *matCellDef="let element"> {{element.taxes}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Value </th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <ng-container matColumnDef="printer">
                  <th mat-header-cell *matHeaderCellDef> Printer </th>
                  <td mat-cell *matCellDef="let element"> {{element.printer}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Subtotal</label>
                <div class="col-md-8">
                  <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control"
                    disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Tax</label>
                <div class="col-md-8">
                  <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control"
                    disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Total</label>
                <div class="col-md-8">
                  <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control"
                    disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="splitReceipt.hide()">Cancel <span
            class="fa fa-times"></span></button>
        <button type="button" class="btn btn-square btn-primary btn-lg">OK <span class="fa fa-check"></span></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #numberGuest="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter the number of Guest</h4>
        <button type="button" class="close" (click)="numberGuest.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <app-numeric-keyboard> </app-numeric-keyboard>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <input type="text" id="name-input" name="name-input" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="numberGuest.hide()">OK <span class="fa fa-check fa-lg"></span></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDeletionReceipt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Receipt</h4>
        <button type="button" class="close" (click)="confirmDeletionReceipt.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Are you sure you want to delete the actual receipt ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="deleteTicket()">Yes</button>
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="confirmDeletionReceipt.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->