<div class="modal-header">
  <h4 class="modal-title">Product List</h4>
  <button type="button" class="close" (click)="productList.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="account-id-find-input">Barcode</label>
        <div class="col-md-8">
          <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="search-key-find-input">Name</label>
        <div class="col-md-8">
          <input type="text" id="search-key-find-input" name="search-key-find-input" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="postal-find-input">Category</label>
        <div class="col-md-8">
          <select id="customer-cat-input" name="customer-cat-input" class="form-control">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="name-find-input">Buy Price</label>
        <div class="col-md-4">
          <select id="customer-cat-input" name="customer-cat-input" class="form-control">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
        <div class="col-md-4">
          <input type="text" id="name-find-input" name="name-find-input" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="phone-find-input">Sell Price</label>
        <div class="col-md-4">
          <select id="customer-cat-input" name="customer-cat-input" class="form-control">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
        <div class="col-md-4">
          <input type="text" id="phone-find-input" name="phone-find-input" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 btn-group" role="group">
          <button class="btn btn-square  btn-light">Reset <span class="fa fa-repeat"></span></button>
        </div>
        <div class="col-md-6 btn-group" role="group">
          <button class="btn btn-square  btn-primary">Execute <span class="fa fa-check"></span></button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-numeric-keyboard> </app-numeric-keyboard>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          Customer 1
        </li>
        <li class="list-group-item">
          Customer 2
        </li>
      </ul>
    </div>
    <div class="col-md-6">

    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="productList.hide()">Close</button>
  <button type="button" class="btn btn-square btn-primary btn-lg">Save changes <span class="fa fa-check"></span></button>
</div>