<div class="app-body login">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]='configForm'>
                  <h1>{{ 'first-config' | translate }}</h1>
                  <hr>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="hostName">Nombre del equipo</label>
                    <div class="col-md-8">
                      <input type="text" id="hostName" name="hostName" formControlName="hostName" class="form-control">
                      <div *ngIf="configForm.controls['hostName'].errors?.required && (configForm.controls['hostName'].dirty || configForm.controls['hostName'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El nombre del equipo es necesario
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="configMode">Modo de uso</label>
                    <div class="col-md-8">
                      <select id="configMode" name="configMode" formControlName="configMode" class="form-control" [ngClass]="{'is-invalid': !configForm.get('configMode').valid && (configForm.controls['configMode'].dirty || configForm.controls['configMode'].touched || submit)}">
                        <option value="">Seleccione un modo de uso</option>
                        <option *ngFor="let key of modesKeys" [ngValue]="key">{{ modes[key] | translate }}</option>
                      </select>
                      <div *ngIf="configForm.controls['configMode'].errors?.required && (configForm.controls['configMode'].dirty || configForm.controls['configMode'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El modo de uso es necesario
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" (click)="submitForm()">{{ 'acept' | translate
                        }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!--
<div class="animated fadeIn module-menu">
  <div class="row">
    <div class="col-md-12">
      <div class="card mat-elevation-z2">
        <div class="card-header">
          <h5>{{'first-config' | translate}}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]='configForm' class="form-horizontal" novalidate="novalidate">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="hostName">Nombre del equipo</label>
                  <div class="col-md-8">
                    <input type="text" id="hostName" name="hostName" formControlName="hostName" class="form-control">
                    <div *ngIf="configForm.controls['hostName'].errors?.required && (configForm.controls['hostName'].dirty || configForm.controls['hostName'].touched || submit)"
                      class="form-control-feedback text-danger">
                      El nombre del equipo es necesario
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="submitForm()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->