<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="saveUser()" (btnTrash)="deleteUser()"
    (btnAdd)="selectUser(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="users" listHeight="40em" itemName="name" (onClick)="selectUser($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='userForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">Nombre <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="name" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': !userForm.get('name').valid && (userForm.controls['name'].dirty || userForm.controls['name'].touched || submit)}">
                <div *ngIf="userForm.controls['name'].errors?.required && (userForm.controls['name'].dirty || userForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="apppassword">Contraseña</label>
              <div class="col-md-4">
                <input type="password" id="apppassword" name="apppassword" formControlName="apppassword" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="card">Tarjeta</label>
              <div class="col-md-4">
                <input type="text" id="card" name="card" formControlName="card" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="role">Rol <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <select id="role" name="role" formControlName="role" class="form-control" [ngClass]="{'is-invalid': !userForm.get('role').valid && (userForm.controls['role'].dirty || userForm.controls['role'].touched || submit)}">
                  <option value="">Seleccione un rol</option>
                  <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                </select>
                <div *ngIf="userForm.controls['role'].errors?.required && (userForm.controls['role'].dirty || userForm.controls['role'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El rol es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                Visible
              </label>
              <div class="custom-control custom-checkbox col-md-3">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" name="visible" formControlName="visible"
                    id="visible">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>