<br>
<div class="animated fadeIn">
  <div class="card mat-elevation-z2">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="sequence">Secuencia</label>
        <div class="col-md-2">
          <input type="text" id="sequence" name="sequence" [(ngModel)]="activeCash.hostsequence" class="form-control"
            [disabled]='true'>
        </div>
        <label class="col-md-2 col-form-label" for="starDate">Fecha de inicio</label>
        <div class="col-md-2">
          <input type="text" id="starDate" name="starDate" [ngModel]="activeCash.datestart | date:'short' "
            (ngModelChange)="activeCash.datestart" class="form-control" [disabled]='true'>
        </div>
        <label class="col-md-2 col-form-label" for="endDate">Fecha de cierre</label>
        <div class="col-md-2">
          <input type="text" id="endDate" name="endDate" [ngModel]="activeCash.dateend | date:'short'" class="form-control"
            [disabled]='true'>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
                <table mat-table [dataSource]="payments">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Tipo de pago </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name | translate }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Dinero</th>
                    <td mat-cell *matCellDef="let element"> {{element.total |currency}} </td>
                  </ng-container>

                  <ng-container matColumnDef="notes">
                    <th mat-header-cell *matHeaderCellDef> Notas</th>
                    <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPayments; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPayments; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"></tr>
                </table>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
                <table mat-table [dataSource]="taxes">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Categoria de impuestos </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.name}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Impuestos</th>
                    <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
                  </ng-container>

                  <ng-container matColumnDef="base">
                    <th mat-header-cell *matHeaderCellDef> Neto</th>
                    <td mat-cell *matCellDef="let element"> {{element.base | currency}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTaxes; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTaxes; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-5 col-form-label" for="transactions">Transacciones</label>
            <div class="col-md-7">
              <input type="text" id="transactions" name="transactions" [(ngModel)]="transactions" class="form-control"
                [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 col-form-label" for="sales">Ventas</label>
            <div class="col-md-7">
              <input type="text" id="sales" name="sales" [(ngModel)]="numberSales" class="form-control" [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 col-form-label" for="netsales">Ventas Netas</label>
            <div class="col-md-7">
              <input type="tel" id="netsales" name="netsales" currencyMask [(ngModel)]="netSales" class="form-control"
                [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 col-form-label" for="taxes">Impuestos</label>
            <div class="col-md-7">
              <input type="tel" id="taxes" name="taxes" currencyMask [(ngModel)]="totalTaxes" class="form-control"
                [disabled]='true'>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5 col-form-label" for="money">Total</label>
            <div class="col-md-7">
              <input type="tel" id="money" name="money" currencyMask [(ngModel)]="money" class="form-control"
                [disabled]='true'>
            </div>
          </div>
          <div class="row">
            <div class="btn-group col-sm-6 col-md-6 col-lg-6">
              <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="transactions === 0" (click)="print()"><span
                  class="fa fa-print"></span><strong>
                  Imprimir</strong>
              </button>
            </div>

            <div class="btn-group col-sm-6 col-md-6 col-lg-6">
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="searchCloseCash.show()"><span
                  class="fa fa-search"></span><strong>
                  Buscar</strong></button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="btn-group col-sm-12 col-md-12 col-lg-12">
              <button *ngIf="isActiveCash" type="button" class="btn btn-success btn-lg btn-block" [disabled]="transactions === 0"
                (click)="confirmCloseCash.show()"><span class="fa fa-calculator"></span><strong>
                  Cerrar Caja</strong>
              </button>
              <button *ngIf="!isActiveCash" type="button" class="btn btn-success btn-lg btn-block" [disabled]="transactions === 0"
                (click)="returnActualCloseCash()"><span class="fa fa-calculator"></span><strong>
                  Regresar Cierre Caja Actual</strong>
              </button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
                <table mat-table [dataSource]="products">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="units">
                    <th mat-header-cell *matHeaderCellDef> Cantidad</th>
                    <td mat-cell *matCellDef="let element"> {{element.units}} </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Precio</th>
                    <td mat-cell *matCellDef="let element"> {{(element.price * (1+element.rate)) |currency}} </td>
                  </ng-container>

                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total</th>
                    <td mat-cell *matCellDef="let element"> {{(element.price * (1+element.rate))* element.units
                      |currency}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmCloseCash="bs-modal" [class.isPrinting]="printService.isPrinting" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cerrar Caja</h4>
        <button type="button" class="close" (click)="confirmCloseCash.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Esta seguro que desea realizar el cierre de caja ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="closeCash()">Si</button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="confirmCloseCash.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #searchCloseCash="bs-modal" [class.isPrinting]="printService.isPrinting" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Buscar Cierre Caja</h4>
        <button type="button" class="close" (click)="searchCloseCash.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Introduzca la secuencia del cierre de caja
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="sales" name="sales" [(ngModel)]="searchCloseCashSequence" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="searchCloseCashFn()"><span class="fa fa-question-search">
          </span>Buscar</button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="searchCloseCash.hide()">Cancelar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->