<div [class.isPrinting]="printService.isPrinting">
    <growpos-loading-spinner></growpos-loading-spinner>
    <router-outlet></router-outlet>
    <app-toast-messages></app-toast-messages>
    <router-outlet name="print"></router-outlet>
</div>