<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-5 ">
      <div class="row">
        <div class="col-md-12 nopadding">
          <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
            <table mat-table [dataSource]="ticket.lines">

              <!-- Position Column -->
              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Artículo </th>
                <td mat-cell *matCellDef="let element">
                  {{element.attributes.name}}
                  <span *ngIf="element.attributes.attributeinstance !== [] || element.attributes.attributeinstance !== null || element.attributes.attributeinstance !== undefined">
                    <span *ngFor="let item of element.attributes.attributeinstance"> ,{{item.value}} </span>
                  </span>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="multiply">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-form-field class="number-input">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number" (click)="dismissQty(i)">
                          <span class="fa fa-minus"></span>
                        </button>
                      </span>
                      <input matInput class="form-control input-number" [(ngModel)]="element.multiply" type="number"
                        disabled>
                      <!--<input type="text" class="form-control input-number" value="10" min="1" max="100">-->
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" (click)="ticket.addQty(i)">
                          <span class="fa fa-plus"></span>
                        </button>
                      </span>
                    </div>
                  </mat-form-field>

                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="pricesell">
                <th mat-header-cell *matHeaderCellDef> Precio</th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Sub-total </th>
                <td mat-cell *matCellDef="let element"> {{element.subTotal | currency}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"
                (click)="getRecord(i,'sales')"></tr>
            </table>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-2 col-4 col-form-label" for="subtotal">SubTotal</label>
            <div class="input-group mb-4 col-md-4 col-8">
              <input type="tel" id="subtotal" name="subtotal" class="form-control" currencyMask [(ngModel)]="ticket.subTotal"
                disabled>
              <div class="input-group-append">
                <span class="input-group-text">$</span>
              </div>
            </div>
            <label class="col-md-2 col-4 col-form-label" for="total-taxes">Impuestos</label>
            <div class="input-group mb-4  col-md-4 col-8">
              <input type="tel" id="total-taxes" name="total-taxes" class="form-control" currencyMask [(ngModel)]="ticket.totalTaxes"
                disabled>
              <div class="input-group-append">
                <span class="input-group-text">$</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-6 col-4 col-form-label" for="total"><strong>
                <h3>Total: </h3>
              </strong></label>
            <div class="input-group mb-4  col-md-6 col-8">
              <input type="tel" id="total" name="total" class="form-control" currencyMask [(ngModel)]="ticket.total"
                disabled>
              <div class="input-group-append">
                <span class="input-group-text">$</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btn-group col-12 col-sm-6 col-md-6 col-lg-6 space-bottom-sm" role="group" aria-label="...">

              <div class="btn-group" dropdown dropup="true">
                <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
                  aria-controls="dropdown-basic">
                  <span class="fa fa-address-card-o fa-lg"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" (click)="openFindCustomerModal()">Encontrar Cliente</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="openCreateCustomerModal()">Crear Cliente</a></li>
                  <li role="menuitem" [hidden]="restaurantMode != configModes.restaurant"><a class="dropdown-item"
                      (click)="numberGuest.show()">Numero de clientes</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="confirmDeletionReceipt.show()">Eliminar Orden</a></li>
                  <li role="menuitem" [hidden]="restaurantMode != configModes.restaurant"><a class="dropdown-item"
                      (click)="moveTable()">Mover Mesa</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="printPreInvoice()">Imprimir</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <button class="btn  btn-light btn-lg" [disabled]="ticket.lines.length < 2 && (ticket.lines.length > 0 ? ticket.lines[0].multiply < 2 : true)"
                  (click)="openSplitReceiptModal()">
                  <span class="fa fa-scissors fa-lg"></span></button>
              </div>
              <div [hidden]="restaurantMode != configModes.restaurant" class="btn-group" role="group">
                <button class="btn btn-light btn-lg" (click)="goTables()"> <span class="fa fa-table fa-lg"></span></button>
              </div>
            </div>
            <div class="btn-group col-12 col-sm-6 col-md-6 col-lg-6 space-bottom-sm">
              <button type="button" class="btn btn-success btn-lg btn-block" [disabled]="ticket.lines.length < 1"
                (click)="openPaymentsModal('sales')"><strong>Pagar</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 ">
      <div class="row">
        <div class="col-md-9 col-sm-9 nopadding">
          <app-catalog haveFilter='true' [items]="products" [listHeight]="catalogHeight" itemName="name" itemImage="image"
            (onClick)="addProduct($event)">
          </app-catalog>
        </div>
        <div class="col-md-3 col-sm-3 nopadding">
          <app-item-list [items]="categories" [listHeight]="categoriesHeight" itemName="name" itemImage="image"
            (onClick)="selectCategory($event)">
          </app-item-list>
        </div>
      </div>

    </div>
  </div>
</div>

<!------------------------Modals-------------------->

<div bsModal #numberGuest="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ingrese el numero de comensales</h4>
        <button type="button" class="close" (click)="numberGuest.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <app-numeric-keyboard (valueEmt)='setGuestNumber($event)'> </app-numeric-keyboard>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <input type="text" id="name-input" [(ngModel)]="guestNumber" name="name-input" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="numberGuest.hide()">OK <span class="fa fa-check fa-lg"></span></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDeletionReceipt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Orden</h4>
        <button type="button" class="close" (click)="confirmDeletionReceipt.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Esta seguro que desea eliminar el recibo actual?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="deleteSharedTicket()">Si</button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="confirmDeletionReceipt.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #splitReceipt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Dividir Orden</h4>
        <button type="button" class="close" (click)="closeSplitTicketModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
            <div class="btn-group col-md-4" role="group">
              <button class="btn  btn-light btn-lg btn-block" (click)="openFindCustomerModal()"> <span class="fa fa-user fa-lg"></span></button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 items-container-split mat-elevation-z0">
              <table mat-table [dataSource]="ticket.lines">

                <!-- Position Column -->
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef>Artíc.</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.attributes.name}}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="multiply">
                  <th mat-header-cell *matHeaderCellDef>Cant.</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.multiply}}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="pricesell">
                  <th mat-header-cell *matHeaderCellDef>Pre.</th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef>SubTo.</th>
                  <td mat-cell *matCellDef="let element"> {{element.subTotal}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"
                  (click)="getRecord(i, 'ticket')"></tr>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Subtotal</label>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="ticket.subTotal" class="form-control" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Impuestos</label>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="ticket.totalTaxes" class="form-control" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Total</label>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="ticket.total" class="form-control" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn  btn-light btn-lg btn-block" [disabled]="ticket.lines.length < 1 || selectedItem.origin !== 'ticket'"
                (click)="moveItems('doubleRight')"> <span class="fa fa-angle-double-right fa-lg"></span></button>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn  btn-light btn-lg btn-block" [disabled]="ticket.lines.length < 1 || selectedItem.origin !== 'ticket'"
                (click)="moveItems('right')"> <span class="fa fa-angle-right fa-lg"></span></button>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn  btn-light btn-lg btn-block" [disabled]="splitTicket.lines.length < 1 || selectedItem.origin !== 'splitTicket'"
                (click)="moveItems('left')"> <span class="fa fa-angle-left fa-lg"></span></button>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-md-12" role="group">
              <button class="btn  btn-light btn-lg btn-block" [disabled]="splitTicket.lines.length < 1 || selectedItem.origin !== 'splitTicket'"
                (click)="moveItems('doubleLeft')"> <span class="fa fa-angle-double-left fa-lg"></span></button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-8">
              <input type="text" id="name-input" name="name-input" class="form-control" disabled>
            </div>
            <div class="btn-group col-md-4" role="group">
              <button class="btn  btn-light btn-lg btn-block" (click)="openFindCustomerModal()"> <span class="fa fa-user fa-lg"></span></button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 items-container-split mat-elevation-z0">
              <table mat-table [dataSource]="splitTicket.lines">

                <!-- Position Column -->
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef>Artíc.</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.attributes.name}}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="multiply">
                  <th mat-header-cell *matHeaderCellDef>Cant.</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.multiply}}
                  </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="pricesell">
                  <th mat-header-cell *matHeaderCellDef>Pre.</th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef>SubTo.</th>
                  <td mat-cell *matCellDef="let element"> {{element.subTotal}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"
                  (click)="getRecord(i, 'splitTicket')"></tr>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Subtotal</label>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="splitTicket.subTotal" class="form-control" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Impuestos</label>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="splitTicket.totalTaxes" class="form-control" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="account-id-find-input">Total</label>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="splitTicket.total" class="form-control" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" (click)="closeSplitTicketModal()">Cancelar<span class="fa fa-times"></span></button>
        <button type="button" class="btn btn-success btn-lg" (click)="openPaymentsModal('split')">Pagar <span class="fa fa-check"></span></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDeletionLine="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Clear Order Check</h4>
        <button type="button" class="close" (click)="confirmDeletionLine.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Esta seguro que desea eliminar el producto ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg">Si</button>
        <button type="button" class="btn btn-secondary btn-lg" (click)="confirmDeletionLine.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #sharedTicketList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recibos</h4>
        <button type="button" class="close" (click)="sharedTicketList.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-item-list [items]="sharedTickets" listHeight="20em" itemName="name" (onClick)="selectSharedTicket($event)">
            </app-item-list>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" (click)="closeSharedTicketListModal()">X</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->