th.mat-header-cell {
    background-color: #f0f3f5;
}

.items-container {
    height: 250px;
    overflow: auto;
    border: 2px solid #f0f3f5;
}
.items-container-split {
    height: 220px;
    overflow: auto;
}
table.mat-table {
    width: 100%;
    border: 1px solid #f0f3f5;
}

tr.mat-row:hover{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
    transition: 0.25s ease-in-out;
    //border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

td.mat-cell{
    border-bottom-color: #f0f3f5;
}
tr.mat-header-row {
    height: 40px;
}

.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
  }

.image-upload{
    background: #fff;
    color: #fff;
    border: 5px dashed rgb(181, 181, 181);
    border-radius: 5px;
    font-size: 20px;
}

.image-upload > label > img {
    height: 150px;
    padding: 10px;
  }