<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [edit]="edit" [add]="add" (btnSave)="saveCategory()" (btnAdd)="selectCategory(null)"
    (btnTrash)="deleteCategory()"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="categories" listHeight="40em" itemName="name" (onClick)="selectCategory($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <form [formGroup]='categoryForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">Nombre <strong class="text-danger">*</strong></label>
              <div class="col-md-10">
                <input type="text" id="name" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': !categoryForm.get('name').valid && (categoryForm.controls['name'].dirty || categoryForm.controls['name'].touched || submit)}">
                <div *ngIf="categoryForm.controls['name'].errors?.required && (categoryForm.controls['name'].dirty || categoryForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="parentid">Categoria</label>
              <div class="col-md-10">
                <select id="parentid" name="parentid" formControlName="parentid" class="form-control">
                  <option value="">Seleccione una categoria</option>
                  <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="texttip">Mensaje</label>
              <div class="col-md-10">
                <input type="text" id="texttip" name="texttip" formControlName="texttip" class="form-control">
              </div>
            </div>
            <div class="form-group row">

              <!--<label class="col-md-2 col-form-label">
                En Catalogo?
              </label>
              <div class="col-md-4">
                <label class="switch switch-label switch-secondary">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                </label>
              </div>
              -->
              <label class="col-md-2 col-form-label">
                Mostrar como principal
              </label>
              <div class="custom-control custom-checkbox col-md-4">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" name="catshowname" formControlName="catshowname"
                    id="catshowname">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">

              <label class="col-md-2 col-form-label" for="anual-cost">Orden</label>
              <div class="col-md-4">
                <input type="number" id="anual-cost" formControlName="catorder" name="catorder" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="catogoryImage">Imagen de la categoria</label>
              <div class="image-upload col-md-10">
                <label for="file-input">
                  <img [src]="url" (error)="setDefaultPic()" title='Haz click para seleccionar la imagen' alt="Haz click para seleccionar la imagen" />
                </label>
                <input id="file-input" type="file" accept='image/*' (change)="onFileSelected($event)" />
                <div class="form-control-feedback" style="color: #20a8d8;">
                  Haz click sobre la imagen para seleccionar la tuya
                </div>
                <div *ngIf="isTooLarge" class="form-control-feedback text-danger">
                  El archivo no es una imagen <br>
                  O es demasiado grande
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>