<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [edit]="edit" [add]="add" (btnSave)="saveAttributeSet()" (btnAdd)="selectAttributeSet(null)"
    (btnTrash)="deleteAttributeSet()"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="attributeSets" listHeight="40em" itemName="name" (onClick)="selectAttributeSet($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <form [formGroup]='attributeSetForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="name">Nombre de la agrupación<strong class="text-danger">*</strong></label>
              <div class="col-md-8">
                <input type="text" id="name" name="name" formControlName="name" class="form-control"
                  [ngClass]="{'is-invalid': !attributeSetForm.get('name').valid && (attributeSetForm.controls['name'].dirty || attributeSetForm.controls['name'].touched || submit)}">
                <div *ngIf="attributeSetForm.controls['name'].errors?.required && (attributeSetForm.controls['name'].dirty || attributeSetForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8">
                <span>Atributos</span>
              </div>
              <div class="col-md-4 btn-group">
                <button type="button" class="btn btn-success" (click)="openCreateAttributeModal()"><span class="fa fa-user-plus"></span>
                  Atributo
                </button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <ng-select [items]="attributes" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" bindLabel="name"
                  placeholder="Seleccione los atributos" formControlName="attributes" [ngClass]="{'is-invalid': !attributeSetForm.get('attributes').valid && (attributeSetForm.controls['attributes'].dirty || attributeSetForm.controls['attributes'].touched || submit)}">
                  
                </ng-select>
                <div *ngIf="attributeSetForm.controls['attributes'].errors?.required && (attributeSetForm.controls['attributes'].dirty || attributeSetForm.controls['attributes'].touched || submit)"
                  class="form-control-feedback text-danger">
                  Al menos un atributo es necesario
                </div>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>