<br>
<div class="animated fadeIn">
  <div class="row">
    <div *ngIf="orders.length < 1" class="col-12 center">
      <h1>No tienes Ordenes Pendientes</h1>
    </div>
    <div *ngFor='let order of orders; index as i' class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <p>Orden #{{order.id}}</p>
            </div>
            <div class="col-4">
              <p>
                {{order.start_date | date:'shortTime' }}
              </p>
            </div>
            <div class="col-4">
              <p>{{order.user}}</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
                <table mat-table [dataSource]="orders[i].products">

                  <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> Producto </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.product.name}}
                      <!--<span *ngIf="element.attributes.attributeinstance !== [] || element.attributes.attributeinstance !== null || element.attributes.attributeinstance !== undefined">
                        <span *ngFor="let item of element.attributes.attributeinstance"> ,{{item.value}} </span>
                      </span>-->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="multiply">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.quantity}}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-block" style="background-color: #f1992d; border-color: #f49e3463; color: #ffffff" (click)="orderReady(i)"><span class="fa fa-check"></span><strong>
                  Finalizar</strong>
              </button>
            </div>
            <div class="col-6">
                {{time[i] | date:'mm:ss'}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>