.login{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    width: 100%;
    height: 100%;
  /* background-image: url('../../../assets/img/login/fondo_growpos.jpg'); */
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}