<div class="app-body login">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form (ngSubmit)="onSubmit( f )" #f="ngForm">
                  <h1>{{ 'login.login' | translate }}</h1>
                  <p class="text-muted">{{ 'login.text' | translate }}</p>
                  <span *ngIf="f.submitted && f.controls['id'].errors" class="text-danger animated fadeIn">{{
                    'login.not-forget-user' | translate }}</span>
                  <div class="input-group mb-3">

                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input class="form-control" type="text" placeholder="Usuario" autocomplete="username" name="id"
                      [(ngModel)]="people.id" required>
                  </div>
                  <span *ngIf="f.submitted && f.controls['apppassword'].errors" class="text-danger animated fadeIn">{{
                    'login.do-dot-forget-the-key' | translate }}</span>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password"
                      name="apppassword" [(ngModel)]="people.apppassword" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">{{ 'login.btnlogin' | translate }}</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">{{ 'login.forgot-password' | translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <img class="navbar-brand-full" src="assets/img/brand/logo-big.svg"
                  width="260" height="180" alt="GrowPOS">
                <!--<div>
                  <h2>{{ 'login.sign-up' | translate }}</h2>
                  <p>{{ 'login.sign-up-text' | translate }}</p>
                  <button [routerLink]="['/register']" routerLinkActive="router-link-active" type="button" class="btn btn-primary active mt-3">{{
                    'login.register-now' | translate }}</button>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>