<br>
<div class="animated fadeIn">
  <div class="card mat-elevation-z2">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]='cashMovementForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="reason">Razón :</label>
              <div class="col-md-9">
                <select id="reason" name="reason" formControlName="reason" class="form-control" [ngClass]="{'is-invalid': !cashMovementForm.get('reason').valid && (cashMovementForm.controls['reason'].dirty || cashMovementForm.controls['reason'].touched || submit)}">
                  <option value="">Seleccione una razón</option>
                  <option *ngFor="let movementReason of movementReasons" [value]="movementReason.name">{{movementReason.name
                    | translate}}</option>
                </select>
                <div *ngIf="cashMovementForm.controls['reason'].errors?.required && (cashMovementForm.controls['reason'].dirty || cashMovementForm.controls['reason'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La razón del movimiento es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="total">Total :</label>
              <div class="col-md-9">
                <input type="tel" id="total" name="total" currencyMask formControlName="total" class="form-control"
                  [ngClass]="{'is-invalid': !cashMovementForm.get('total').valid && (cashMovementForm.controls['total'].dirty || cashMovementForm.controls['total'].touched || submit)}">
                <div *ngIf="cashMovementForm.controls['total'].errors?.required && (cashMovementForm.controls['total'].dirty || cashMovementForm.controls['total'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El monto del movimiento es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="note">Nota :</label>
              <div class="col-md-9">
                <textarea type="text" id="note" name="note" formControlName="note" class="form-control"> </textarea>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="btn-group col-sm-12 col-md-12 col-lg-12">
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="saveMovement()"><span class="fa fa-calculator"></span><strong>
                  Realizar Movimiento</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>