<div class="modal-header">
  <h4 class="modal-title">Crear Vehiculo</h4>
  <button type="button" class="close" (click)="createVehicle.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]='vehicleForm' (ngSubmit)="saveVehicle()" class="form-horizontal" novalidate="novalidate">
    <div class="form-group row has-danger">
      <label class="col-md-2 col-form-label" for="plate">Placa <strong class="text-danger">*</strong></label>
      <div class="col-md-4">
        <input type="text" id="plate" name="plate" class="licenseplate" formControlName="plate" maxlength="7"
          placeholder="AAA-000" (keypress)="onKeypress($event)" [ngClass]="{'is-invalid': !vehicleForm.get('plate').valid && (vehicleForm.controls['plate'].dirty || vehicleForm.controls['plate'].touched || submit)}" />
        <div *ngIf="vehicleForm.controls['plate'].errors?.required && (vehicleForm.controls['plate'].dirty || vehicleForm.controls['plate'].touched || submit)"
          class="form-control-feedback text-danger">
          La placa es necesaria
        </div>
      </div>
      <label class="col-md-2 col-form-label" for="type">Tipo Vehículo</label>
      <div class="col-md-4">
        <select id="type" name="type" formControlName="type" class="form-control" [ngClass]="{'is-invalid': !vehicleForm.get('type').valid && (vehicleForm.controls['type'].dirty || vehicleForm.controls['type'].touched || submit)}">
          <option value="null">Seleccione un tipo de vehiculo</option>
          <option *ngFor="let parkingFee of parkingFees" [value]="parkingFee.id">{{parkingFee.name}}
          </option>
        </select>
        <div *ngIf="vehicleForm.controls['type'].errors?.required && (vehicleForm.controls['type'].dirty || vehicleForm.controls['type'].touched || submit)"
          class="form-control-feedback text-danger">
          El tipo de vehiculo es necesario
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="model">Modelo</label>
      <div class="col-md-4">
        <input type="text" id="model" name="model" formControlName="model" class="form-control">
      </div>
      <label class="col-md-3 col-form-label" for="color">Color</label>
      <div class="col-md-3">
        <input type="text" id="color" formControlName="color" name="color" class="form-control">
      </div>

    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="description">Descripción</label>
      <div class="col-md-4">
        <textarea type="text" id="description" formControlName="description" name="description" class="form-control"> </textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="createVehicle.hide()">Cerrar</button>
  <button type="submit" class="btn btn-square btn-primary btn-lg" (click)="saveVehicle()">Guardar<span class="glyphicon glyphicon-ok"></span></button>
</div>