<br>
<div class="animated fadeIn">
  <div class="card mat-elevation-z2">


    <div class="card-body">
      <form [formGroup]='parkingMovForm' class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-1 col-form-label" for="id">Recibo</label>
          <div class="col-md-1">
            <input type="text" id="id" name="id" formControlName="id" class="form-control" disabled>
          </div>
          <label class="col-md-2 col-form-label" for="date_arrival">Llegada</label>
          <div class="col-md-2">
            <input type="text" id="date_arrival" name="date_arrival" [value]="parkingMovForm.get('date_arrival').value | date:'MM/dd/yyyy h:mm:ss'"
              formControlName="date_arrival" class="form-control" disabled>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="plate">Placa</label>
                  <div class="col-md-8">
                    <input type="text" id="plate" name="plate" class="licenseplate" formControlName="plate" maxlength="7"
                      placeholder="AAA-000" (keypress)="onKeypress($event)" (change)="onChange($event)" [ngClass]="{'is-invalid': !parkingMovForm.get('plate').valid && (parkingMovForm.controls['plate'].dirty || parkingMovForm.controls['plate'].touched || submit)}" />
                    <div *ngIf="parkingMovForm.controls['plate'].errors?.required && (parkingMovForm.controls['plate'].dirty || parkingMovForm.controls['plate'].touched || submit)"
                      class="form-control-feedback text-danger">
                      La placa es necesaria
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="type">Tipo Vehículo</label>
                  <div class="col-md-8">
                    <select id="type" name="type" formControlName="type" class="form-control" (change)="selectedType()"
                      [ngClass]="{'is-invalid': !parkingMovForm.get('type').valid && (parkingMovForm.controls['type'].dirty || parkingMovForm.controls['type'].touched || submit)}">
                      <option value="null">Seleccione un tipo de vehiculo</option>
                      <option *ngFor="let parkingFee of parkingFees" [value]="parkingFee.id">{{parkingFee.name}}
                      </option>
                    </select>
                    <div *ngIf="parkingMovForm.controls['type'].errors?.required && (parkingMovForm.controls['type'].dirty || parkingMovForm.controls['type'].touched || submit)"
                      class="form-control-feedback text-danger">
                      El tipo de vehiculo es necesario
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="fee">Tipo Tarifa</label>
                  <div class="col-md-8">
                    <select id="fee" name="fee" formControlName="fee" class="form-control" [ngClass]="{'is-invalid': !parkingMovForm.get('fee').valid && (parkingMovForm.controls['fee'].dirty || parkingMovForm.controls['fee'].touched || submit)}">
                      <option value="null">Seleccione un tipo de tarifa</option>
                      <option *ngFor="let fee of fees?.parkingFees" [value]="fee.id">{{fee.rate.name}}</option>
                    </select>
                    <div *ngIf="parkingMovForm.controls['fee'].errors?.required && (parkingMovForm.controls['fee'].dirty || parkingMovForm.controls['fee'].touched || submit)"
                      class="form-control-feedback text-danger">
                      El tipo de Tarifa es necesaria
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                Imprimir?
              </label>
              <div class="custom-control custom-checkbox col-md-2">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" name="print" formControlName="print"
                    id="print">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
              <div class="col-md-8">
                <textarea class="form-control" id="note" name="note" placeholder="Notas" formControlName="note"></textarea>
              </div>
            </div>
            <div *ngIf="show==true" class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="plate">Hora Entrada</label>
                  <div class="col-md-4">
                    <input type="text" id="date_arrival" name="date_arrival" [value]="parkingMovForm.get('date_arrival').value | date:'short'"
                      formControlName="date_arrival" class="form-control" disabled>
                  </div>
                  <label class="col-md-2 col-form-label" for="plate">Hora Salida</label>
                  <div class="col-md-4">
                    <input type="text" id="date_departure" name="date_departure" [value]="parkingMovForm.get('date_departure').value  | date:'short' "
                      formControlName="date_departure" class="form-control" disabled />
                  </div>


                </div>
                <div class="row">
                  <div class="col-md-12">
                    <hr>
                    <input class="placehold form-control" type="text" currencyMask id="total" formControlName="total"
                      [value]="parkingMovForm.get('total').value" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision: '0' }" />
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div [ngClass]="{ 'col-sm-12':!isMonthly, 'col-md-12':!isMonthly, 'col-lg-12':!isMonthly, 'col-sm-6':isMonthly, 'col-md-6':isMonthly, 'col-lg-6':isMonthly}"
                class="btn-group">
                <button type="button" class="btn btn-success btn-lg btn-block" (click)="register()"><span class="fa fa-calculator"></span><strong>
                    {{msg}} </strong></button>
              </div>
              <div *ngIf="isMonthly" class="btn-group col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-success btn-lg btn-block" (click)="pay()"><span class="fa fa-calculator"></span><strong>
                    Pagar </strong></button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="items-container mat-elevation-z0" [ngStyle]="{'height':tableHeight}">
                  <table mat-table [dataSource]="parked_cars">

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Placa </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.plate | translate }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef> Hora Ingreso</th>
                      <td mat-cell *matCellDef="let element"> {{element.date_arrival |date:'short'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="notes">
                      <th mat-header-cell *matHeaderCellDef> Tipo </th>
                      <td mat-cell *matCellDef="let element"> {{element.type | vehicleType:parkingFees}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsParked; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsParked; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"
                      (click)="getRecord(row)"></tr>
                  </table>
                </div>
              </div>
            </div>
            <br>
          </div>

        </div>
      </form>

    </div>


  </div>
</div>


<div bsModal #reminder="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recordatorio</h4>
        <button type="button" class="close" (click)="reminder.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Recuerda la mensualidad del vehiculo con placas {{parkingMovForm.get('plate').value}} <br>
        Vence el dia {{contractEnd}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="reminder.hide()">Aceptar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->