<div class="modal-header">
  <h4 class="modal-title">Buscar Vehiculo</h4>
  <button type="button" class="close" (click)="findVehicleModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]='filterForm' class="form-horizontal" novalidate="novalidate">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="plate">Placa</label>
          <div class="col-md-8">
            <input type="text" id="plate" name="plate" class="licenseplate" formControlName="plate" maxlength="7"
              placeholder="AAA-000" (keypress)="onKeypress($event)" />
            
          </div>
        </div>
       
        <div class="row">
          <div class="col-md-6 btn-group space-bottom-sm" role="group">
            <button class="btn btn-square  btn-light" (click)="clearForm()">Reiniciar <span class="fa fa-repeat"></span></button>
          </div>
          <div class="col-md-6 btn-group space-bottom-sm" role="group">
            <button class="btn btn-square  btn-primary" (click)="getVehicles()">Ejecutar <span class="fa fa-check"></span></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <app-item-list [items]="vehicles" listHeight="21em" itemName="plate" [emit]="emit" (onClick)="selectVehicle($event)">
      </app-item-list>
    </div>
  </div>
  <br>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg space-bottom-sm" (click)="findVehicleModal.hide()">Cancelar</button>
  <button type="button" class="btn btn-square btn-primary btn-lg" (click)="okBtn()">Guardar<span class="fa fa-check"></span></button>
</div>