<div class="modal-header">
  <h4 class="modal-title">Crear Cliente</h4>
  <button type="button" class="close" (click)="createCustomer.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]='customerForm' (ngSubmit)="saveCustomer()" class="form-horizontal" novalidate="novalidate">
    <div class="form-group row has-danger">
      <label class="col-md-2 col-form-label" for="name">Nombre <strong class="text-danger">*</strong></label>
      <div class="col-md-4">
        <input type="text" id="name" name="name" formControlName="name" [ngClass]="{'is-invalid': !customerForm.get('name').valid && (customerForm.controls['name'].dirty || customerForm.controls['name'].touched || submit)}"
          class="form-control" placeholder="Nombre" required>
        <div *ngIf="customerForm.controls['name'].errors?.required && (customerForm.controls['name'].dirty || customerForm.controls['name'].touched || submit)"
          class="form-control-feedback text-danger">
          El nombre es necesario
        </div>
      </div>
      <label class="col-md-2 col-form-label" for="searchKey">Llave de Busqueda <strong class="text-danger">*</strong></label>
      <div class="col-md-4">
        <input type="text" id="searchKey" name="searchKey" formControlName="searchKey" [ngClass]="{'is-invalid': !customerForm.get('searchKey').valid && (customerForm.controls['searchKey'].dirty || customerForm.controls['searchKey'].touched || submit)}"
          class="form-control" required>
        <div *ngIf="customerForm.controls['searchKey'].errors?.required && (customerForm.controls['searchKey'].dirty || customerForm.controls['searchKey'].touched || submit)"
          class="form-control-feedback text-danger">
          La llave de busqueda es necesaria
        </div>
      </div>
    </div>
    <!--<div class="form-group row">
      <label class="col-md-2 col-form-label" for="taxcategory">Categora de impuestos</label>
      <div class="col-md-4">
        <select id="taxcategory" formControlName="taxcategory" name="taxcategory"
          class="form-control">
          <option value="">Seleccione una categoria</option>
          <option *ngFor="let taxCategory of taxCategories" [value]="taxCategory.id">{{taxCategory.name}}</option>
        </select>
      </div>
    </div>-->
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="maxdebt">Limite del credito</label>
      <div class="col-md-2">
        <input type="number" id="maxdebt" formControlName="maxdebt" name="maxdebt" class="form-control">
      </div>
      <label class="col-md-1 col-form-label">
        VIP
      </label>
      <div class="custom-control custom-checkbox col-md-1">
        <label class="switch switch-label switch-pill switch-success">
          <input checked="" class="switch-input" formControlName="isvip" type="checkbox">
          <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
        </label>
      </div>
     <!-- <div class="form-check col-md-2">
        <input class="form-check" type="radio" formControlName="isvip" name="isvip" id="isvip" checked>
        <label class="form-check-label" for="isvip">
          VIP
        </label>
      </div>-->
      <label class="col-md-2 col-form-label" for="discount">Descuento</label>
      <div class="col-md-4">
        <input type="number" id="discount" formControlName="discount" name="discount" [ngClass]="{'is-invalid': !customerForm.get('discount').valid && (customerForm.controls['discount'].dirty || customerForm.controls['discount'].touched)}"
          class="form-control">
        <div *ngIf="customerForm.controls['discount'].errors?.pattern && (customerForm.controls['discount'].dirty || customerForm.controls['discount'].touched)"
          class="form-control-feedback text-danger">
          Introduzca solo numeros
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="firstName">Primer Nombre</label>
      <div class="col-md-4">
        <input type="text" id="firstName" formControlName="firstName" name="firstName" class="form-control">
      </div>
      <label class="col-md-2 col-form-label" for="lastName">Apellido</label>
      <div class="col-md-4">
        <input type="text" id="lastName" formControlName="lastName" name="lastName" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="email">Email</label>
      <div class="col-md-4">
        <input type="email" id="email" formControlName="email" name="email" [ngClass]="{'is-invalid': !customerForm.get('email').valid && (customerForm.controls['email'].touched)}"
          class="form-control" placeholder="Enter Email" autocomplete="email">
        <div *ngIf="customerForm.controls['email'].errors?.email && (customerForm.controls['email'].touched)" class="form-control-feedback text-danger">
          El correo no es valido
        </div>
      </div>
      <label class="col-md-2 col-form-label" for="phone">Telefono</label>
      <div class="col-md-4">
        <input type="text" id="phone" formControlName="phone" name="phone" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="phone2">Celular</label>
      <div class="col-md-4">
        <input type="text" id="phone2" formControlName="phone2" name="phone2" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="createCustomer.hide()">Cerrar</button>
  <button type="submit" class="btn btn-square btn-primary btn-lg" (click)="saveCustomer()">Guardar<span class="glyphicon glyphicon-ok"></span></button>
</div>