<br>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <form [formGroup]='manageForm' class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="date">Fecha</label>
          <div class="col-md-8">
            <input [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" formControlName="date" class="form-control" #dp="bsDatepicker"
              bsDatepicker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="reason">Razón</label>
          <div class="col-md-8">
            <select id="reason" name="reason" formControlName="reason" class="form-control" [ngClass]="{'is-invalid': !manageForm.get('reason').valid && (manageForm.controls['reason'].dirty || manageForm.controls['reason'].touched || submit)}">
              <option value="">Seleccione una razón</option>
              <option *ngFor="let key of movementKeys" [ngValue]="key">{{ movementReasons[key] | translate }}</option>
            </select>
            <div *ngIf="manageForm.controls['reason'].errors?.required && (manageForm.controls['reason'].dirty || manageForm.controls['reason'].touched || submit)"
              class="form-control-feedback text-danger">
              La razón de la transacción es necesaria
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="location">Almacen</label>
          <div class="col-md-8">
            <select id="location" name="location" formControlName="location" class="form-control" [ngClass]="{'is-invalid': !manageForm.get('location').valid && (manageForm.controls['location'].dirty || manageForm.controls['location'].touched || submit)}">
              <option value="">Seleccione un almacen</option>
              <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
            </select>
            <div *ngIf="manageForm.controls['location'].errors?.required && (manageForm.controls['location'].dirty || manageForm.controls['location'].touched || submit)"
              class="form-control-feedback text-danger">
              El almacen es necesario
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="supplier">Proveedor</label>
          <div class="col-md-8">
            <select id="supplier" name="supplier" formControlName="supplier" class="form-control" [ngClass]="{'is-invalid': !manageForm.get('supplier').valid && (manageForm.controls['supplier'].dirty || manageForm.controls['supplier'].touched || submit)}">
              <option value="">Seleccione un proveedor</option>
              <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
            </select>
            <div *ngIf="manageForm.controls['supplier'].errors?.required && (manageForm.controls['supplier'].dirty || manageForm.controls['supplier'].touched || submit)"
              class="form-control-feedback text-danger">
              El proveedor es necesario
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="document">Documento</label>
          <div class="col-md-8">
            <input type="text" id="document" name="document" formControlName="document" class="form-control">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 col-sm-10">
      <div class="items-container mat-elevation-z0">
        <table mat-table [dataSource]="tableData">

          <!-- Position Column -->
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Artículo </th>
            <td mat-cell *matCellDef="let element">
              {{element.productObject.name}}
              <span *ngIf="element.attributeinstance !== [] || element.attributeinstance !== null || element.attributeinstance !== undefined">
                <span *ngFor="let item of element.attributeinstance"> ,{{item.value}} </span>
              </span>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <mat-form-field class="number-input">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number" (click)="dismissQty(i)">
                      <span class="fa fa-minus"></span>
                    </button>
                  </span>
                  <input matInput class="form-control input-number" [(ngModel)]="element.units" type="number" disabled>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" (click)="addQty(i)">
                      <span class="fa fa-plus"></span>
                    </button>
                  </span>
                </div>
              </mat-form-field>

            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="pricesell">
            <th mat-header-cell *matHeaderCellDef> Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Sub Total </th>
            <td mat-cell *matCellDef="let element"> {{getBuyValue(element.units, element.price)}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]="{'active-cell': selectedItem == i}"
            (click)="getRecord(i)"></tr>
        </table>


      </div>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="deleteRecord()">
          <span class="fa fa-minus fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" (click)="openFindProductModal()"> <span class="fa fa-search fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="editPriceBuyModal.show()">
          <span class="fa fa-pencil fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1 || tableData[selectedItem].productObject.attributeset_id == '' || tableData[selectedItem].productObject.attributeset_id == null || tableData[selectedItem].productObject.attributeset_id == undefined"
          (click)="openAttributesModal()">
          <span class="fa fa-tags fa-lg"></span></button>
      </div>
      <br>
      <div class="btn-group btn-sales-left" role="group">
        <button class="btn btn-square  btn-light btn-lg btn-block" [disabled]="tableData.length < 1" (click)="confirmDeletionOrder.show()">
          <span class="fa fa-trash fa-lg"></span>
        </button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="saveOrder()"><span class="fa fa-calculator"></span><strong>
          Guardar Inventario</strong></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <app-item-list [items]="categories" listHeight="300px" itemName="name" itemImage="image" (onClick)="selectCategory($event)">
      </app-item-list>
    </div>
    <div class="col-md-9 col-sm-9">
      <app-catalog haveFilter='true' [items]="products" listHeight="300px" itemName="name" itemImage="image" (onClick)="addProduct($event)">
      </app-catalog>
    </div>
  </div>
</div>

<div bsModal #confirmDeletionOrder="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Orden</h4>
        <button type="button" class="close" (click)="confirmDeletionOrder.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="fa fa-question-circle fa-lg"> </span> Esta seguro que desea eliminar la orden actual ?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="deleteOrder()">Si</button>
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="confirmDeletionOrder.hide()">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editPriceBuyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Precio de compra</h4>
        <button type="button" class="close" (click)="editPriceBuyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label *ngIf="tableData[selectedItem]" class="col-md-4 col-form-label" for="priceBuy">Ingrese el nuevo precio de compra de <strong>{{ tableData[selectedItem].productObject.name}}</strong></label>
          <div class="col-md-8">
            <input type="tel" currencyMask id="priceBuy" name="priceBuy" [(ngModel)]="newPriceBuy" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-square btn-primary btn-lg" (click)="editPriceBuy()">Aceptar</button>
        <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="editPriceBuyModal.hide()">Cancelar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->