//--------------------- payments -----------------------------------------

@media (max-width: 992px) {

    ::ng-deep ul.flex-column {
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
    }

    ::ng-deep tabset.row > div.tab-content{
        width: 100%;
    }
}
@media (min-width: 993px) {

    ::ng-deep ul.flex-column {
        width: 19%;
        padding-right: 1em;
        padding-left: 1em;
    }
    ::ng-deep tabset.row > div.tab-content{
        width: 80%;
    }
}

//--------- remove modal-backdrop when is printing ------------------
@media print {
    ::ng-deep bs-modal-backdrop.modal-backdrop.show{
        opacity: 0 !important;
    }
}
.money-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 0px;
    width: 65px;
    height: 70px;
    margin: 5px;
}

a.money-item:hover {
    background-color: #aee2f3;
    transition: 0.25s ease-in-out;
    border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

.money-item-body {
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    text-align: center;
}

p.money-item-body{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 55px;
} 

.center{
    text-align: center;
}
