<div [class.isPrinting]="printService.isPrinting">
  <div class="modal-header">
    <h4 class="modal-title">Págos</h4>
    <button type="button" class="close" (click)="paymentsModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-md-4 col-sm-6 col-6">
        <div class="row">
          <label class="col-md-5 col-form-label" for="total-input">
            <h4><strong>Total</strong></h4>
          </label>
          <div class="col-md-7">
            <input type="tel" id="total-input" currencyMask [ngModel]="ticket.total" name="total-input" class="form-control"
              disabled>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 col-6 space-bottom-sm">
        <div class="row">
          <label class="col-md-6 col-form-label" for="remaining-input">
            <h4><strong>Restante</strong></h4>
          </label>
          <div class="col-md-6">
            <input type="tel" id="remaining-input" currencyMask [ngModel]="remaining" name="remaining-input" class="form-control"
              disabled>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <div class="row">
          <div class="col-sm-6 col-6 space-bottom-sm">
            <button type="button" class="btn btn-primary btn-lg col-md-12 col-sm-12" [disabled]="given >= remaining || origin === 'refund'"
              (click)="addPayment(false)"><span class="fa fa-plus"></span></button>
          </div>
          <div class="col-sm-6 col-6">
            <button type="button" class="btn btn-danger btn-lg col-md-12 col-sm-12" [disabled]="ticket.payments.length < 1 || origin === 'refund'"
              (click)="deletePayment()"><span class="fa fa-minus"></span></button>
          </div>
        </div>

      </div>
    </div>

    <tabset [vertical]="bigScreen" type="pills" class="row">
      <tab *ngIf="origin !== 'refund'" (select)="payment = 'cash'">
        <ng-template tabHeading>
          <h5><span class="fa fa-money"></span> Efectivo</h5>
        </ng-template>
        <div class="row">
          <div class="col-md-6 ">
            <div class="form-group row">
              <label class="col-md-4 col-4 col-form-label" for="given-input">
                <h5>Entregado</h5>
              </label>
              <div class="col-md-8 col-8 ">
                <input type="tel" id="given-input" name="given-input" currencyMask [ngModel]="given" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-4 col-form-label" for="change-input">
                <h5>Cambio</h5>
              </label>
              <div class="col-md-8 col-8">
                <input type="tel" id="change-input" name="change-input" currencyMask [ngModel]="change" class="form-control"
                  disabled>
              </div>
            </div>
            <div class="row display-sm-none">
              <a class="money-item" (click)="givenCash(1000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 1.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(2000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 2.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(5000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 5.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(10000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 10.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(20000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 20.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(50000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 50.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(100000)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 100.000</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(100)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 100</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(200)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 200</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(500)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 500</p>
                </a>
              </a>
              <a class="money-item" (click)="givenCash(50)">
                <a class="money-item-body">
                  <p class="font-weight-bold font-xs btn-block text-muted money-item-body">$ 50</p>
                </a>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <app-numeric-keyboard (valueEmt)="givenKeyBoard($event)"> </app-numeric-keyboard>
            <br>
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="change-input" name="change-input" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <!--<tab>
            <ng-template tabHeading>
              <span class="fa fa-wpforms"> </span> Cheque
            </ng-template>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="given-input">Entregado</label>
                  <div class="col-md-8">
                    <input type="text" id="given-input" name="given-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <app-numeric-keyboard> </app-numeric-keyboard>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" id="change-input" name="change-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>

          </tab>
          <tab>
            <ng-template tabHeading>
              <span class="fa fa-newspaper-o"></span> Vale
            </ng-template>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="vouchers-input">Vale</label>
                  <div class="col-md-8">
                    <select id="value-input" name="value-input" class="form-control">
                      <option value="0">Please select</option>
                      <option value="1">Option #1</option>
                      <option value="2">Option #2</option>
                      <option value="3">Option #3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="value-input">Value</label>
                  <div class="col-md-8">
                    <input type="text" id="value-input" name="value-input" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="value-input">Value</label>
                  <p class="col-md-8" for="value-input">Customer</p>
                </div>
              </div>
              <div class="col-md-6">
                <app-numeric-keyboard> </app-numeric-keyboard>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" id="change-input" name="change-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
          </tab>-->
      <tab *ngIf="origin !== 'refund'" (select)="payment = 'magcard'">
        <ng-template tabHeading>
          <h5><span class="fa fa-credit-card"></span> Tarjeta</h5>
        </ng-template>
        <h5 class="center">Haz el pago de la tarjeta</h5> <br>
        <h5 class="center">A continuación pulsa "Pagar <span class="fa fa-check"></span>"</h5>
      </tab>
      <tab *ngIf="origin !== 'refund'" (select)="payment = 'free'">
        <ng-template tabHeading>
          <h5><span class="fa fa-smile-o"></span> Gratis</h5>
        </ng-template>
        <h5 class="center">Gratis!</h5>
      </tab>
      <tab *ngIf="ticket.customer && origin === 'sales'" (select)="payment = 'debt'">
        <ng-template tabHeading>
          <h5><span class="fa fa-id-card"></span> Débito</h5>
        </ng-template>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 col-4 col-form-label" for="given-input">A cuenta</label>
              <div class="col-md-8 col-8">
                <input type="tel" id="given-input" name="given-input" currencyMask [ngModel]="remaining" class="form-control"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-4 col-form-label" for="given-input">Nombre</label>
              <div class="col-md-8 col-8">
                <input type="text" id="given-input" name="given-input" [ngModel]="ticket.customer.name" class="form-control"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="given-input">Notas</label>
              <div class="col-8">
                <textarea type="text" id="given-input" name="given-input" [ngModel]="ticket.customer.notes" class="form-control"
                  disabled></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="given-input">Deuda Máxima</label>
              <div class="col-8">
                <input type="tel" id="given-input" name="given-input" currencyMask [ngModel]="ticket.customer.maxdebt" class="form-control"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="given-input">Deuda Actual</label>
              <div class="col-8">
                <input type="tel" id="given-input" name="given-input" currencyMask [ngModel]="ticket.customer.curdebt" class="form-control"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="given-input">Fecha de la Deuda</label>
              <div class="col-8">
                <input type="text" id="given-input" name="given-input" [ngModel]="ticket.customer.curdate | date:'short'"
                  class="form-control" disabled>
              </div>
            </div>
            <br>
            <div [hidden]="(remaining + ticket.customer.curdebt) < ticket.customer.maxdebt">
              <alert type="danger">
                El cliente sobrepasa la deuda maxima permitida.
              </alert>
            </div>
          </div>
          <div class="col-md-6">
            <app-numeric-keyboard> </app-numeric-keyboard>
            <br>
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="change-input" name="change-input" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab *ngIf="origin === 'refund'" (select)="payment = 'cashrefund'">
        <ng-template tabHeading>
          <h5><span class="fa fa-money"></span> Reembolso</h5>
        </ng-template>
        <h5 class="center">Haz la devolución y pulse aceptar</h5>
      </tab>
      <tab *ngIf="origin === 'refund'" (select)="payment = 'magcardrefund'">
        <ng-template tabHeading>
          <h5><span class="fa fa-credit-card"></span> Tarjeta</h5>
        </ng-template>
        <h5 class="center">Haz el reembolso de la tarjeta</h5> <br>
        <h5 class="center">A continuación pulsa "Pagar <span class="fa fa-check"></span>"</h5>
      </tab>
      <!--
          <tab>
            <ng-template tabHeading>
              <span class="fa fa-university"> Bank</span>
            </ng-template>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="given-input">Entregado</label>
                  <div class="col-md-8">
                    <input type="text" id="given-input" name="given-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <app-numeric-keyboard> </app-numeric-keyboard>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" id="change-input" name="change-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <span class="fa fa-newspaper-o"> Slip</span>
            </ng-template>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="given-input">Entregado</label>
                  <div class="col-md-8">
                    <input type="text" id="given-input" name="given-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <app-numeric-keyboard> </app-numeric-keyboard>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" id="change-input" name="change-input" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
          </tab>-->
    </tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-lg" (click)="paymentsModal.hide()">Cancelar <span class="fa fa-times"></span></button>
    <button type="button" class="btn btn-success btn-lg" [disabled]="change < 0 && payment ==='cash'" (click)="pay()">Pagar
      <span class="fa fa-check"></span></button>
    <!--<div class="row">
          <div class="col-md-3">
            <button type="button" class="btn btn-light" (click)="paymentsModal.hide()"><span class="fa fa-print"></span></button>
          </div>
          <div class="col-md-4">
            <p>Printer ON</p>
          </div>
        </div>-->

  </div>

</div>