<div class="invoice" [style.width.mm]="hostConfig.size == '1' ? '60' : '97'" id="invoice-POS" *ngIf="hostConfig">
  <div align="center" id="top">
    <img [src]="url" width="60px" height="60px">
    <h3><strong>{{hostConfig.companyName}}</strong></h3>
    <div class="info">
      <p>
        Nit: {{hostConfig.nit}}<br>
        Dirección: {{hostConfig.address}}<br>
      </p>
    </div>
  </div>

  <div id="mid">
    <div class="info">
      <p>
        <strong>Fecha:</strong> {{ data.date_arrival | date:"short" }}<br>
        <strong>Terminal:</strong> {{ hostConfig.hostName }}<br>
        <!--<strong>Atendido por:</strong> {{ data.user.name }}<br>-->
      </p>
    </div>
  </div>

  <div id="bot">

    <div id="table">
      <table [style.width.mm]="hostConfig.size == '1' ? '60' : '97'">
        <tr class="tabletitle">
          <td class="Rate">
            <h3>Placa:</h3>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.plate}}</strong></h3>
          </td>
        </tr>

        <tr class="service">
          <td class="tableitem">
            <p>Tipo:</p>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="tableitem" align="right">
            <p><strong>{{data.type}}</strong></p>
          </td>
        </tr>
        <tr class="service">
          <td class="tableitem">
            <p>{{data.fee}}</p>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="tableitem" align="right">
            <p><strong>{{data.price | currency}}</strong></p>
          </td>
        </tr>
        <tr *ngIf="data.note !== ''" class="service">
          <td class="tableitem">
            <p>Notas</p>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="tableitem" align="right">
            <p>{{data.note}}</p>
          </td>
        </tr>
      </table>
    </div>

    <div id="legalcopy">
      <div align="center">
        <p class="legal">
          <span *ngIf="hostConfig.line1 !== '' && hostConfig.line1 !== null && hostConfig.line1 !== undefined">{{hostConfig.line1}}<br></span>
          <span *ngIf="hostConfig.line2 !== '' && hostConfig.line2 !== null && hostConfig.line2 !== undefined">{{hostConfig.line2}}<br></span>
          <span *ngIf="hostConfig.line3 !== '' && hostConfig.line3 !== null && hostConfig.line3 !== undefined">{{hostConfig.line3}}<br></span>
          Impreso por www.growpos.co
        </p>
      </div>
    </div>

  </div>
</div>