<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="saveContract()" (btnTrash)="deleteContract()"
    (btnAdd)="selectContract(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="contracts" listHeight="40em" itemName="vehicle.plate" (onClick)="selectContract($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='contractForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="customer">Cliente <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="customer" name="customer" formControlName="customer" class="form-control"
                  disabled [ngClass]="{'is-invalid': !contractForm.get('customer').valid && (contractForm.controls['customer'].dirty || contractForm.controls['customer'].touched || submit)}">
                <div *ngIf="contractForm.controls['customer'].errors?.required && (contractForm.controls['customer'].dirty || contractForm.controls['customer'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El Cliente es necesario
                </div>
              </div>
              <div class="btn-group col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-success btn-block" (click)="openFindCustomerModal()"><span class="fa fa-search"></span><strong>
                    Buscar Cliente</strong>
                </button>
              </div>
              <div class="btn-group col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-success btn-block" (click)="openCreateCustomerModal()"><span class="fa fa-plus"></span><strong>
                    Añadir Cliente</strong>
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="vehicle">Vehiculo <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="vehicle" name="vehicle" formControlName="vehicle" disabled class="form-control"
                  [ngClass]="{'is-invalid': !contractForm.get('vehicle').valid && (contractForm.controls['vehicle'].dirty || contractForm.controls['vehicle'].touched || submit)}">
                <div *ngIf="contractForm.controls['vehicle'].errors?.required && (contractForm.controls['vehicle'].dirty || contractForm.controls['vehicle'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El Vehiculo es necesario
                </div>
              </div>
              <div class="btn-group col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-success btn-block" (click)="openFindVehicleModal()"><span class="fa fa-search"></span><strong>
                    Buscar Vehículo</strong>
                </button>
              </div>
              <div class="btn-group col-sm-3 col-md-3 col-lg-3">
                <button type="button" class="btn btn-success btn-block" (click)="openCreateVehicleModal()"><span class="fa fa-plus"></span><strong>
                    Añadir Vehículo</strong>
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="datestart">Fecha Inicio <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" placeholder="Haz click aquí" id="datestart" name="datestart" formControlName="datestart"
                  class="form-control" [ngClass]="{'is-invalid': !contractForm.get('datestart').valid && (contractForm.controls['datestart'].dirty || contractForm.controls['datestart'].touched || submit)}"
                  bsDatepicker>

                <div *ngIf="contractForm.controls['datestart'].errors?.required && (contractForm.controls['datestart'].dirty || contractForm.controls['datestart'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La fecha es necesario
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="price">Precio <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="tel" id="price" name="price" currencyMask formControlName="price" class="form-control"
                  [ngClass]="{'is-invalid': !contractForm.get('price').valid && (contractForm.controls['price'].dirty || contractForm.controls['price'].touched || submit)}">
                <div *ngIf="contractForm.controls['price'].errors?.required && (contractForm.controls['price'].dirty || contractForm.controls['price'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El precio es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="state">Activo?<strong class="text-danger">*</strong></label>
              <div class="custom-control custom-checkbox col-md-6">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox" formControlName="state">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>