<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [edit]="edit" [add]="add" (btnSave)="saveAttribute()" (btnAdd)="selectAttribute(null)"
    (btnTrash)="deleteAttribute()"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="attributes" listHeight="40em" itemName="name" (onClick)="selectAttribute($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <form [formGroup]='attributeForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="name">Nombre del atributo<strong class="text-danger">*</strong></label>
              <div class="col-md-8">
                <input type="text" id="name" name="name" formControlName="name" class="form-control"
                  [ngClass]="{'is-invalid': !attributeForm.get('name').valid && (attributeForm.controls['name'].dirty || attributeForm.controls['name'].touched || submit)}">
                <div *ngIf="attributeForm.controls['name'].errors?.required && (attributeForm.controls['name'].dirty || attributeForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre del atributo es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8">
                <span>Valores</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <ng-select [items]="attributeForm.get('attribute_values').value" [addTag]="addTagFn" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" bindLabel="value"
                  placeholder="Seleccione los atributos" formControlName="attribute_values" [ngClass]="{'is-invalid': !attributeForm.get('attribute_values').valid && (attributeForm.controls['attribute_values'].dirty || attributeForm.controls['attribute_values'].touched || submit)}">
                  
                </ng-select>
                <div *ngIf="attributeForm.controls['attribute_values'].errors?.required && (attributeForm.controls['attribute_values'].dirty || attributeForm.controls['attribute_values'].touched || submit)"
                  class="form-control-feedback text-danger">
                  Al menos un valor es necesario
                </div>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>