<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="saveFloor()" (btnTrash)="deleteFloor()"
    (btnAdd)="selectFloor(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="floors" listHeight="40em" itemName="name" (onClick)="selectFloor($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='floorForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">Nombre <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="name" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': !floorForm.get('name').valid && (floorForm.controls['name'].dirty || floorForm.controls['name'].touched || submit)}">
                <div *ngIf="floorForm.controls['name'].errors?.required && (floorForm.controls['name'].dirty || floorForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>