.invoice { page-break-after: always; }
.invoice:last-child { page-break-after: avoid; }

#invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0);
    padding:2mm;
    margin: 0px !important;
    margin-top: -100px !important;
    //width: 70mm;

    //70mm to 58mm printer
    //100mm to 80mm printer

    background: #FFF !important;
    
    
  ::selection {background: #f31544; color: #FFF;}
  ::moz-selection {background: #f31544; color: #FFF;}
  h1{
    font-size: 17px;
    color: black;
  }
  h2{font-size: 17px;}
  h3{
    font-size: 22px;
    line-height: 2em;
  }
  p{
    font-size: 17px;
    color: black;
    line-height: 22px;
  }
   
  #top, #mid,#bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
  }
  
  #top{min-height: 20px;}
  #mid{min-height: 80px;} 
  #bot{ min-height: 50px;}
  
  #top .logo{
    //float: left;
      height: 60px;
      width: 60px;
      background-size: 60px 60px;
  }
  .clientlogo{
    float: left;
      height: 60px;
      width: 60px;
      background-size: 60px 60px;
    border-radius: 50px;
  }
  .info{
    display: block;
    //float:left;
    margin-left: 0;
  }
  .title{
    float: right;
  }
  .title p{text-align: right;} 
  table{
    //width: 100%;
    border-collapse: collapse;
  }
  .tabletitle{
    //padding: 5px;
    font-size: 17px;
    background: #EEE;
  }
  .service{border-bottom: 1px solid #EEE;}
  //.item{width: 20mm;}
  .itemtext{font-size: 17px;}
  
  #legalcopy{
    margin-top: 5mm;
  }
  
    
    
  }