<div class="invoice" [style.width.mm]="hostConfig.size == '1' ? '60' : '97'" id="invoice-POS" *ngIf="hostConfig">
  <div align="center" id="top">
    <img [src]="url" width="60px" height="60px">
    <h3><strong>{{hostConfig.companyName}}</strong></h3>
    <div class="info">
      <p>
        Nit: {{hostConfig.nit}}<br>
        Dirección: {{hostConfig.address}}<br>
      </p>
    </div>
  </div>

  <div id="mid">
    <div class="info">
      <p>
        <strong>Fecha:</strong> {{ data.date | date:"short" }}<br>
        <strong>Terminal:</strong> {{ data.host }}<br>
        <strong>Atendido por:</strong> {{ data.user.name }}<br>
      </p>
      <p *ngIf="data.customer">
        <strong>Cuenta #:</strong> {{data.customer.taxid}}<br>
        <strong>Cliente:</strong> {{data.customer.name}}<br>
        <strong>Direccion:</strong> {{data.customer.address}}<br>
        <strong>E-mail:</strong> {{data.customer.email}}<br>
        <strong>Telefono:</strong> {{data.customer.phone}}<br>
        <strong>Deuda Actual:</strong> {{data.customer.curdebt}}<br>
      </p>
    </div>
  </div>

  <div id="bot">

    <div id="table">
      <table [style.width.mm]="hostConfig.size == '1' ? '60' : '97'">
        <tr class="tabletitle">
          <td align="left">
            <h2>Item</h2>
          </td>
          <td align="center">
            <h2>Cant.</h2>
          </td>
          <td align="center">
            <h2>Precio</h2>
          </td>
          <td *ngIf="hostConfig.size !== '1'" align="right">
            <h2>SubTotal</h2>
          </td>
        </tr>

        <tr class="service" *ngFor="let line of data.lines">
          <td class="tableitem">
            <p class="itemtext">{{line.attributes.name}}</p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext">{{line.multiply}}</p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext">{{line.price | currency}}</p>
          </td>
          <td class="tableitem" align="right">
            <p *ngIf="hostConfig.size !== '1'" class="itemtext">{{line.price * line.multiply | currency}}</p>
          </td>
        </tr>

        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Total</strong></h3>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.total | currency}}</strong></h3>
          </td>
        </tr>

        <tr class="tabletitle" *ngIf="hostConfig.activeTip">
          <td class="Rate">
            <h5><strong>Total Propina (10%)</strong></h5>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.total+(data.total*0.1) | currency}}</strong></h3>
          </td>
        </tr>
      </table>
      <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">

        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Impuestos</strong></h3>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.totalTaxes}}</strong></h3>
          </td>
        </tr>

        <tr class="service" *ngFor="let tax of data.taxes">
          <td class="tableitem">
            <p class="itemtext">{{tax.tax.name}}</p>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="tableitem">
            <p class="itemtext">{{tax.tax.rate | percent}}</p>
          </td>
          <td class="tableitem">
            <p class="itemtext">{{tax.amount | currency}}</p>
          </td>
        </tr>

      </table>
    </div>

    <div id="legalcopy">
      <div align="center">
        <p class="legal">
          <span *ngIf="hostConfig.line1 !== '' && hostConfig.line1 !== null && hostConfig.line1 !== undefined">{{hostConfig.line1}}<br></span>
          <span *ngIf="hostConfig.line2 !== '' && hostConfig.line2 !== null && hostConfig.line2 !== undefined">{{hostConfig.line2}}<br></span>
          <span *ngIf="hostConfig.line3 !== '' && hostConfig.line3 !== null && hostConfig.line3 !== undefined">{{hostConfig.line3}}<br></span>
          Impreso por www.growpos.co
        </p>
      </div>
    </div>

  </div>
</div>