<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="savePlace()" (btnTrash)="deletePlace()"
    (btnAdd)="selectPlace(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="places" listHeight="40em" itemName="name" (onClick)="selectPlace($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='placeForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="name">Nombre <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="name" name="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': !placeForm.get('name').valid && (placeForm.controls['name'].dirty || placeForm.controls['name'].touched || submit)}">
                <div *ngIf="placeForm.controls['name'].errors?.required && (placeForm.controls['name'].dirty || placeForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="floor">Planta</label>
              <div class="col-md-4">
                <select id="floor" name="floor" formControlName="floor" class="form-control">
                  <option value="">Seleccione una planta</option>
                  <option *ngFor="let floor of floors" [value]="floor.id">{{floor.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="seats">Lugares</label>
              <div class="col-md-4">
                <input type="text" id="seats" name="seats" formControlName="seats" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="x">Orden</label>
              <div class="col-md-4">
                <input type="text" id="x" name="x" formControlName="x" class="form-control">
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>