<div class="modal-header">
    <h4 class="modal-title">Crear proveedor</h4>
    <button type="button" class="close" (click)="findSupplier.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="account-id-find-input">CIF/NIF</label>
          <div class="col-md-8">
            <input type="text" id="account-id-find-input" name="account-id-find-input" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="search-key-find-input">Clave de Busqueda <strong class="text-danger">*</strong></label>
          <div class="col-md-8">
            <input type="text" id="search-key-find-input" name="search-key-find-input" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="postal-find-input">Proveedor</label>
          <div class="col-md-8">
            <input type="text" id="postal-find-input" name="postal-find-input" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="name-find-input">Nombre</label>
          <div class="col-md-8">
            <input type="text" id="name-find-input" name="name-find-input" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="phone-find-input">Telefono</label>
          <div class="col-md-8">
            <input type="text" id="phone-find-input" name="phone-find-input" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="email-find-input">E-mail</label>
          <div class="col-md-8">
            <input type="email" id="email-find-input" name="email-find-input" class="form-control" autocomplete="email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 btn-group" role="group">
            <button class="btn btn-square  btn-light" (click)="reset()">Reset <span class="fa fa-repeat"></span></button>
          </div>
          <div class="col-md-6 btn-group" role="group">
            <button class="btn btn-square  btn-primary" (click)="execute()">Execute <span class="fa fa-check"></span></button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-numeric-keyboard> </app-numeric-keyboard>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
          <app-item-list [items]="suppliers" [emit]="emit" listHeight="300px" itemName="name" 
          (onClick)="selectSupplier($event)">
          </app-item-list>
      </div>
      <div class="col-md-6">
  
      </div>
    </div>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="findSupplier.hide()">Cerrar</button>
    <button type="button" class="btn btn-square btn-primary btn-lg">Guardar<span class="fa fa-check"></span></button>
  </div>