<div class="modal-header">
  <h4 class="modal-title">Buscar Producto</h4>
  <button type="button" class="close" (click)="findProduct.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]='filterForm' class="form-horizontal" novalidate="novalidate">
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="barcode">Codigo de barras</label>
          <div class="col-md-8">
            <input type="text" id="barcode" name="barcode" formControlName="barcode" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="name.value">Nombre</label>
          <div class="col-md-8">
            <input type="text" id="name.value" name="name.value" formControlName="name.value" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="category">Categoria</label>
          <div class="col-md-8">
            <select id="category" name="category" formControlName="category" class="form-control">
              <option value="">Seleccione una Categoria</option>
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="pricebuy.filter">Precio de Compra</label>
          <div class="col-md-4">
            <select id="pricebuy.filter" name="pricebuy.filter" formControlName="pricebuy.filter" class="form-control">
              <option *ngFor="let key of keys" [ngValue]="key" [label]="filterOperators[key]"></option>
            </select>

          </div>
          <div class="col-md-4">
            <input type="number" id="pricebuy.value" name="pricebuy.value" formControlName="pricebuy.value" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="pricesell.filter">Precio de Venta</label>
          <div class="col-md-4">
            <select id="pricesell.filter" name="pricesell.filter" formControlName="pricesell.filter" class="form-control">
              <option *ngFor="let key of keys" [ngValue]="key" [label]="filterOperators[key]"></option>
            </select>

          </div>
          <div class="col-md-4">
            <input type="number" id="pricesell.value" name="pricesell.value" formControlName="pricesell.value" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 btn-group" role="group">
            <button class="btn btn-square  btn-light" (click)="clearForm()">Reiniciar <span class="fa fa-repeat"></span></button>
          </div>
          <div class="col-md-6 btn-group" role="group">
            <button class="btn btn-square  btn-primary" (click)="getProducts()">Ejecutar <span class="fa fa-check"></span></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <app-numeric-keyboard> </app-numeric-keyboard>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <app-item-list [items]="products" [emit]="emit" listHeight="20em" itemName="name" (onClick)="selectProduct($event)">
      </app-item-list>
      <div class="col-md-6">

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-square btn-secondary btn-lg" (click)="findProduct.hide()">Cancelar</button>
    <button type="button" class="btn btn-square btn-primary btn-lg" (click)="okBtn()">Ok <span class="fa fa-check"></span></button>
  </div>