.loading {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 500000;
}

.loading-hidden {
    visibility: hidden;
}
