<div class="invoice" [style.width.mm]="hostConfig.size == '1' ? '60' : '97'" id="invoice-POS" *ngIf="hostConfig">
  <div align="center" id="top">
    <img [src]="url" width="60px" height="60px">
    <h3><strong>{{hostConfig.companyName}}</strong></h3>
    <h3><strong>Reporte Parcial de Caja</strong></h3>
    <div class="info">
      <p>
        Nit: {{hostConfig.nit}}<br>
        Dirección: {{hostConfig.address}}<br>
      </p>
    </div>
  </div>

  <div id="mid">
    <div class="info">
      <p>
        <strong>Secuencia:</strong><span> {{ data.activeCash.hostsequence }}</span><br>
        <strong>Terminal:</strong> {{ hostConfig.hostName }}<br>
        <strong>Impreso por:</strong> {{ user }}<br>
        <strong>Fecha Inicio:</strong> {{ data.activeCash.datestart | date:"short" }}<br>
        <strong>Fecha Fin:</strong> {{ data.activeCash.dateend | date:"short" }}<br>
      </p>
    </div>
  </div>

  <div id="bot">
    <br>
    <div id="table">
      <h3 align="center"><strong>VENTAS</strong></h3>
      <table [style.width.mm]="hostConfig.size == '1' ? '60' : '97'">
        <tr class="tabletitle">
          <td align="left">
            <h2>Item</h2>
          </td>
          <td align="center">
            <h2>Cant.</h2>
          </td>
          <td align="center">
            <h2>Precio</h2>
          </td>
          <td *ngIf="hostConfig.size !== '1'" align="right">
            <h2>SubTotal</h2>
          </td>
        </tr>

        <tr class="service" *ngFor="let line of data.products">
          <td class="tableitem">
            <p class="itemtext">{{line.name}}</p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext">{{line.units}}</p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext">{{(line.price * (1+line.rate)) | currency}}</p>
          </td>
          <td class="tableitem" align="right">
            <p *ngIf="hostConfig.size !== '1'" class="itemtext">{{(line.price * (1+line.rate))* line.units | currency}}</p>
          </td>
        </tr>

        <tr class="tabletitle">
          <td class="Rate">
            <h3><strong>Total</strong></h3>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.netSales | currency}}</strong></h3>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div id="table">
      <h3 align="center"><strong>PAGOS</strong></h3>
      <table [style.width.mm]="hostConfig.size == '1' ? '60' : '97'">
        <tr class="tabletitle">
          <td align="left">
            <h2>Tipo</h2>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td align="center">
            <h2>Total</h2>
          </td>
        </tr>
        <div *ngFor="let payment of data.payments">
          <tr class="tabletitle">
            <td class="tableitem" align="left">
              {{ payment.name | translate }}
            </td>
            <td></td>
            <td *ngIf="hostConfig.size !== '1'"></td>
            <td class="tableitem"  align="center">
              {{payment.total | currency}}
            </td>
          </tr>
        </div>
      </table>
    </div>
    <br>
    <div id="table">
      <h3 align="center"><strong>IMPUESTOS</strong></h3>
      
      <table [style.width.mm]="hostConfig.size == '1' ? '60' : '97'">
        <tr class="tabletitle">
          <td align="left">
            <h2>Nombre</h2>
          </td>
          <td align="center">
            <h2>Base</h2>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td align="center">
            <h2>Total</h2>
          </td>
        </tr>
        <tr class="tabletitle" *ngFor="let tax of data.taxes">
          <td class="tableitem" align="left">
            <p class="itemtext">{{tax.name}}</p>
          </td>
          <td class="tableitem" align="center">
            <p class="itemtext">{{tax.base | currency}}</p>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="tableitem" align="right">
            <p class="itemtext">{{tax.amount | currency}}</p>
          </td>
        </tr>
        <tr class="tabletitle">
          <td class="Rate">
            <p class="itemtext">Total</p>
          </td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td class="payment" align="right">
            <h3><strong>{{data.totalTaxes | currency}}</strong></h3>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div id="table">
      <h3 align="center"><strong>RESUMEN</strong></h3>
      <table [style.width.mm]="hostConfig.size == '1' ? '60' : '97'">
        <tr class="tabletitle">
          <td align="left">
            <h2>Transacciones</h2>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td align="center">
            <h2>{{data.transactions}}</h2>
          </td>
        </tr>
        <tr class="tabletitle">
          <td align="left">
            <h2>#Ventas</h2>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td align="center">
            <h2>{{data.numberSales}}</h2>
          </td>
        </tr>
        <tr class="tabletitle">
          <td align="left">
            <h2>Ventas Netas</h2>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td align="center">
            <h2>{{data.netSales | currency}}</h2>
          </td>
        </tr>
        <tr class="tabletitle">
          <td align="left">
            <h2>Impuestos</h2>
          </td>
          <td></td>
          <td *ngIf="hostConfig.size !== '1'"></td>
          <td align="center">
            <h2>{{data.totalTaxes | currency}}</h2>
          </td>
        </tr>

      </table>
    </div>

    <div id="legalcopy">
      <div align="center">
        <p class="legal">
          Impreso por www.growpos.co
        </p>
      </div>
    </div>

  </div>
</div>