// http://ionicframework.com/docs/theming/
/*@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';*/


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
th.mat-header-cell {
    background-color: #f0f3f5;
    border-bottom-style: unset !important;
    text-align: center !important;
}

.items-container {
    overflow: auto;
    //border: 2px solid #f0f3f5;
}

.items-container-split {
    height: 220px;
    overflow: auto;
}
table.mat-table {
    width: 100%;
    //border: 1px solid #f0f3f5;
}

tr.mat-row:hover{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
    transition: 0.25s ease-in-out;
    //border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

.active-cell{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
}

td.mat-cell{
    border-bottom-color: #f0f3f5;
}
tr.mat-header-row {
    height: 40px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: center;
}

@media (max-width: 768px) {
    .space-bottom-sm{
        padding-bottom: 10px
    }
    .display-sm-none{
        display: none !important;
    }
}

/*.sidebar {
    background: #f1992d;
}

.sidebar .nav-link .nav-icon{
    color: #ffffff
}*/