th.mat-header-cell {
    background-color: #f0f3f5;
}

.items-container {
    height: 200px;
    overflow: auto;
    border: 2px solid #f0f3f5;
}
table.mat-table {
    width: 100%;
    border: 1px solid #f0f3f5;
}

tr.mat-row:hover{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
    transition: 0.25s ease-in-out;
    //border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

td.mat-cell{
    border-bottom-color: #f0f3f5;
}
tr.mat-header-row {
    height: 40px;
}