// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

//@import "~@ng-select/ng-select/themes/default.theme.css";

// If you want to add something do it here
@import "custom";

@media print {
    .isPrinting > * { display: none; }
    .isPrinting growpos-print-layout { display: block; }
    .isPrinting modal-backdrop { display: block; }
    /*:host /deep/ bs-modal-backdrop {
      display: none
    }*/
  ::ng-deep bs-modal-backdrop.modal-backdrop.show{
      opacity: 0 !important;
  }
}