<br>
<div class="animated fadeIn">
  <app-tool-bar [trash]="trash" [save]="save" [add]="add" [edit]="edit" (btnSave)="saveParkingFee()" (btnTrash)="deleteParkingFee()"
    (btnAdd)="selectParkingFee(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list haveFilter='true' [items]="parkingFeesList" listHeight="40em" itemName="name" (onClick)="selectParkingFee($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <div class="card mat-elevation-z2">
        <div class="card-body">
          <form [formGroup]='parkingFeeForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="type">Tipo de Vehiculo <strong class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="text" id="type" name="type" formControlName="type" class="form-control" [ngClass]="{'is-invalid': !parkingFeeForm.get('type').valid && (parkingFeeForm.controls['type'].dirty || parkingFeeForm.controls['type'].touched || submit)}">
                <div *ngIf="parkingFeeForm.controls['type'].errors?.required && (parkingFeeForm.controls['type'].dirty || parkingFeeForm.controls['type'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El Tipo de vehiculo es necesario
                </div>
              </div>
              <div class="btn-group col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-success btn-lg btn-block" (click)="addRate()"><span class="fa fa-plus"></span><strong>
                    Añadir Tarifa</strong>
                </button>
              </div>
            </div>
            <br>
            <div *ngFor="let rate of t.controls; let i = index" class="list-group list-group-flush">
              <div class="list-group-item">
                <div [formGroup]="rate" class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Nombre de la Tarifa</label>
                    <div class="col-md-4">
                      <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': !rate.get('name').valid && (rate.controls['name'].dirty || rate.controls['name'].touched || submit)}" />
                      <div *ngIf="rate.controls['name'].errors?.required && (rate.controls['name'].dirty || rate.controls['name'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El Nombre es necesario
                      </div>
                    </div>
                    <div class="btn-group col-sm-6 col-md-6 col-lg-6">
                      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteRate(i)"><span class="fa fa-minus"></span><strong>
                          Eliminar Tarifa</strong>
                      </button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-6 col-form-label"><strong> Horario:</strong></label>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Inicio:</label>
                    <div class="col-md-4">
                      <timepicker formControlName="starttime"></timepicker>
                      <!--<input type="text" formControlName="starttime" class="form-control" [ngClass]="{'is-invalid': !rate.get('starttime').valid && (rate.controls['starttime'].dirty || rate.controls['starttime'].touched || submit)}" />
                      -->
                      <div *ngIf="rate.controls['starttime'].errors?.required && (rate.controls['starttime'].dirty || rate.controls['starttime'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El Inicio es necesario
                      </div>
                    </div>
                    <label class="col-md-2 col-form-label">Fin:</label>
                    <div class="col-md-4">
                      <timepicker formControlName="endtime"></timepicker>
                      <!--<input type="text" formControlName="endtime" class="form-control" [ngClass]="{'is-invalid': !rate.get('endtime').valid && (rate.controls['endtime'].dirty || rate.controls['endtime'].touched || submit)}" />
                      -->
                      <div *ngIf="rate.controls['endtime'].errors?.required && (rate.controls['endtime'].dirty || rate.controls['endtime'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El Fin es necesario
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Cobro Por:</label>
                    <label class="col-md-2 col-form-label">Tiempo</label>

                    <div class="col-md-2">
                      <input type="number" formControlName="time" class="form-control" [ngClass]="{'is-invalid': !rate.get('time').valid && (rate.controls['time'].dirty || rate.controls['time'].touched || submit)}" />
                      <div *ngIf="rate.controls['time'].errors?.required && (rate.controls['time'].dirty || rate.controls['time'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El Tiempo es necesario
                      </div>
                    </div>
                    <label class="col-md-2 col-form-label">Unidad</label>

                    <div class="col-md-4">
                      <select id="product-cat-input" name="product-cat-input" formControlName="units" class="form-control"
                        [ngClass]="{'is-invalid': !rate.get('units').valid && (rate.controls['units'].dirty || rate.controls['units'].touched || submit)}">
                        <option value="null">Seleccione una unidad de medida</option>
                        <option *ngFor="let units of uoms" [value]="units.id">{{units.name}}</option>
                      </select>
                      <div *ngIf="rate.controls['units'].errors?.required && (rate.controls['units'].dirty || rate.controls['units'].touched || submit)"
                        class="form-control-feedback text-danger">
                        La unidad es necesaria
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Período de Gracia (Minutos):</label>

                    <div class="col-md-4">
                      <input type="number" formControlName="graceperiod" class="form-control" [ngClass]="{'is-invalid': !rate.get('graceperiod').valid && (rate.controls['graceperiod'].dirty || rate.controls['graceperiod'].touched || submit)}" />
                      <div *ngIf="rate.controls['graceperiod'].errors?.required && (rate.controls['graceperiod'].dirty || rate.controls['graceperiod'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El Periodo de Gracia es necesario
                      </div>
                    </div>
                    <label class="col-md-2 col-form-label">Es mensualidad? :</label>
                    <div class="custom-control custom-checkbox col-md-4">
                      <label class="switch switch-label switch-pill switch-success">
                        <input checked="" class="switch-input" type="checkbox" name="ismonthly" formControlName="ismonthly"
                          id="ismonthly">
                        <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Precio</label>
                    <div class="col-md-4">
                      <input type="tel" formControlName="price" currencyMask class="form-control" [ngClass]="{'is-invalid': !rate.get('price').valid && (rate.controls['price'].dirty || rate.controls['price'].touched || submit)}" />
                      <div *ngIf="rate.controls['price'].errors?.required && (rate.controls['price'].dirty || rate.controls['price'].touched || submit)"
                        class="form-control-feedback text-danger">
                        El precio es necesario
                      </div>
                    </div>
                    <label class="col-md-2 col-form-label">Impuesto</label>
                    <div class="col-md-4">
                      <select id="product-cat-input" name="product-cat-input" formControlName="tax" class="form-control"
                        [ngClass]="{'is-invalid': !rate.get('tax').valid && (rate.controls['tax'].dirty || rate.controls['tax'].touched || submit)}">
                        <option value="null">Seleccione una categoria de impuesto</option>
                        <option *ngFor="let taxCat of taxCategories" [value]="taxCat.id">{{taxCat.name}}</option>
                      </select>
                      <div *ngIf="rate.controls['tax'].errors?.required && (rate.controls['tax'].dirty || rate.controls['tax'].touched || submit)"
                        class="form-control-feedback text-danger">
                        La categoria de impuestos es necesaria
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>