<br>
<div class="animated fadeIn">
  <!--<div class="row">
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="product-cat-filter-input">Categoria de Impuestos</label>
        <div class="col-md-4">
          <select id="product-cat-filter-input" name="product-cat-filter-input" class="form-control">
            <option value="">Seleccione una categoria de impuesto</option>
            <option *ngFor="let taxCat of taxCategories" [value]="taxCat.id">{{taxCat.name}}</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label" for="product-cat-filter-input">Precio de Compra</label>
        <div class="col-md-3">
          <select id="product-cat-filter-input" name="product-cat-filter-input" class="form-control">
            <option value="">Ninguno</option>
            <option *ngFor="let taxCat of taxCategories" [value]="taxCat.id">{{taxCat.name}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <input type="number" id="price-buy-filter-input" name="price-buy-filter-input" class="form-control">
        </div>

      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="product-cat-filter-input">Codigo de barras</label>
        <div class="col-md-4">
          <input type="text" id="price-buy-filter-input" name="price-buy-filter-input" class="form-control">
        </div>
        <label class="col-md-2 col-form-label" for="product-cat-filter-input">Precio de venta</label>
        <div class="col-md-3">
          <select id="product-cat-filter-input" name="product-cat-filter-input" class="form-control">
            <option value="">Ninguno</option>
            <option *ngFor="let taxCat of taxCategories" [value]="taxCat.id">{{taxCat.name}}</option>
          </select>
        </div>
        <div class="col-md-1">
          <input type="number" id="price-buy-filter-input" name="price-buy-filter-input" class="form-control">
        </div>

      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="product-cat-filter-input">Nombre</label>
        <div class="col-md-4">
          <select id="product-cat-filter-input" name="product-cat-filter-input" class="form-control">
            <option value="">Ninguno</option>
            <option *ngFor="let taxCat of taxCategories" [value]="taxCat.id">{{taxCat.name}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <input type="text" id="price-buy-filter-input" name="price-buy-filter-input" class="form-control">
        </div>

      </div>
    </div>
  </div>-->
  <br>
  <app-tool-bar [trash]="trash" [save]="save" [edit]="edit" [add]="add" (btnSave)="saveProduct()"
    (btnTrash)="deleteProduct()" (btnAdd)="selectProduct(null)"></app-tool-bar>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-item-list [items]="products" haveFilter="true" [filterFields]="filterFields" listHeight="40em"
        itemName="name" (onClick)="selectProduct($event)">
      </app-item-list>
    </div>
    <div class="col-md-9">
      <tabset>
        <tab heading="General" id="tab1">
          <form [formGroup]='productForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="productImage">Imagen del producto</label>
              <div class="image-upload col-md-10">
                <label for="file-input">
                  <img [src]="url" (error)="setDefaultPic()" title='Haz click para seleccionar la imagen'
                    alt="Haz click para seleccionar la imagen" />
                </label>
                <input id="file-input" type="file" accept='image/*' (change)="onFileSelected($event)" />
                <div class="form-control-feedback" style="color: #20a8d8;">
                  Haz click sobre la imagen para seleccionar la tuya
                </div>
                <div *ngIf="isTooLarge" class="form-control-feedback text-danger">
                  El archivo no es una imagen <br>
                  O es demasiado grande
                </div>
              </div>
            </div>
            <div class="form-group row">

              <label class="col-md-2 col-form-label" for="name-input">Referencia <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-3">
                <input type="text" id="name-input" name="name-input" formControlName="reference" class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('reference').valid && (productForm.controls['reference'].dirty || productForm.controls['reference'].touched || submit)}">
                <div
                  *ngIf="productForm.controls['reference'].errors?.required && (productForm.controls['reference'].dirty || productForm.controls['reference'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La referencia es necesaria
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="search-key-input">Codigo de Barras<strong
                  class="text-danger">*</strong></label>
              <div class="col-md-3">
                <input type="text" id="search-key-input" name="search-key-input" formControlName="code"
                  class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('code').valid && (productForm.controls['code'].dirty || productForm.controls['code'].touched || submit)}">
                <div
                  *ngIf="productForm.controls['code'].errors?.required && (productForm.controls['code'].dirty || productForm.controls['code'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El código de barras es necesario
                </div>
              </div>
              <div class="col-md-2">
                <select id="product-cat-input" name="product-cat-input" formControlName="codetype" class="form-control">
                  <option value="0">EAN-13</option>
                  <option value="1">EAN-8</option>
                  <option value="2">CODE-128</option>
                  <option value="3">UPC-A</option>
                  <option value="4">UPC-E</option>
                </select>
                <div
                  *ngIf="productForm.controls['codetype'].errors?.required && (productForm.controls['codetype'].dirty || productForm.controls['codetype'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El tipo de código de barras es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="account-id-input">Nombre <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-10">
                <input type="text" id="account-id-input" name="account-id-input" formControlName="name"
                  class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('name').valid && (productForm.controls['name'].dirty || productForm.controls['name'].touched || submit)}">
                <div
                  *ngIf="productForm.controls['name'].errors?.required && (productForm.controls['name'].dirty || productForm.controls['name'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El nombre es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="product-cat-input">Categoria <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-10">
                <select id="product-cat-input" name="product-cat-input" formControlName="category" class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('category').valid && (productForm.controls['category'].dirty || productForm.controls['category'].touched || submit)}">
                  <option value="null">Seleccione una categoria</option>
                  <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                </select>
                <div
                  *ngIf="productForm.controls['category'].errors?.required && (productForm.controls['category'].dirty || productForm.controls['category'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La categoria es necesaria
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="product-cat-input">Atributos</label>
              <div class="col-md-4">
                <select id="product-cat-input" name="product-cat-input" formControlName="attributeset_id"
                  class="form-control">
                  <option value="null">Seleccione un atributo</option>
                  <option *ngFor="let attr of attributes" [value]="attr.id">{{attr.name}}</option>
                </select>
              </div>
              <div class="custom-control custom-checkbox col-md-6">
                <label class="switch switch-label switch-pill switch-success">
                  <input checked="" class="switch-input" type="checkbox">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
                <!--
              <input class="custom-control-input" type="checkbox" name="isverpatrib" formControlName="isverpatrib" id="isverpatrib">
              <label class="custom-control-label" for="isverpatrib">
                Obligatorio
              </label> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="product-cat-input">Categoria de Impuestos <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-4">
                <select id="product-cat-input" name="product-cat-input" formControlName="taxcat" class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('taxcat').valid && (productForm.controls['taxcat'].dirty || productForm.controls['taxcat'].touched || submit)}">
                  <option value="null">Seleccione una categoria de impuesto</option>
                  <option *ngFor="let taxCat of taxCategories" [value]="taxCat.id">{{taxCat.name}}</option>
                </select>
                <div
                  *ngIf="productForm.controls['taxcat'].errors?.required && (productForm.controls['taxcat'].dirty || productForm.controls['taxcat'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La categoria de impuestos es necesaria
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="product-cat-input">Precio de venta <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="tel" id="account-id-input" name="account-id-input" currencyMask
                  [options]="{ prefix: '$ ', precision: '0' }" formControlName="pricesell1" class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('pricesell1').valid && (productForm.controls['pricesell1'].dirty || productForm.controls['pricesell1'].touched || submit)}">
                <div
                  *ngIf="productForm.controls['pricesell1'].errors?.required && (productForm.controls['pricesell1'].dirty || productForm.controls['pricesell1'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El precio de venta es necesario
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="product-cat-input">Precio de venta sin impuesto</label>
              <div class="col-md-4">
                <input type="tel" id="account-id-input" currencyMask [options]="{ prefix: '$ ', precision: '0' }"
                  formControlName="pricesell" name="account-id-input" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="product-cat-input">Precio de compra <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-4">
                <input type="tel" id="account-id-input" name="account-id-input" currencyMask
                  [options]="{ prefix: '$ ', precision: '0' }" formControlName="pricebuy" class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('pricebuy').valid && (productForm.controls['pricebuy'].dirty || productForm.controls['pricebuy'].touched || submit)}">
                <div
                  *ngIf="productForm.controls['pricebuy'].errors?.required && (productForm.controls['pricebuy'].dirty || productForm.controls['pricebuy'].touched || submit)"
                  class="form-control-feedback text-danger">
                  El precio de compra es necesario
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="product-cat-input">Unidad de medida <strong
                  class="text-danger">*</strong></label>
              <div class="col-md-4">
                <select id="product-cat-input" name="product-cat-input" formControlName="uom" class="form-control"
                  [ngClass]="{'is-invalid': !productForm.get('uom').valid && (productForm.controls['uom'].dirty || productForm.controls['uom'].touched || submit)}">
                  <option value="null">Seleccione una unidad de medida</option>
                  <option *ngFor="let uom of uoms" [value]="uom.id">{{uom.name}}</option>
                </select>
                <div
                  *ngIf="productForm.controls['uom'].errors?.required && (productForm.controls['uom'].dirty || productForm.controls['uom'].touched || submit)"
                  class="form-control-feedback text-danger">
                  La unidad de medidad es necesaria
                </div>
              </div>
              <!--<label class="col-md-1 col-form-label" for="product-cat-input">Máximo</label>
              <div class="col-md-2">
                <input type="number" id="account-id-input" name="account-id-input" formControlName="max" class="form-control" >
              </div>
              <label class="col-md-1 col-form-label" for="product-cat-input">Minimo</label>
              <div class="col-md-2">
                <input type="number" id="account-id-input" name="account-id-input" formControlName="min" class="form-control" >
              </div>-->
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="product-cat-input">Beneficio Bruto</label>
              <div class="input-group mb-4 col-md-4">
                <input type="text" id="account-id-input" formControlName="grossProfit" name="account-id-input"
                  class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <label class="col-md-2 col-form-label" for="product-cat-input">Margen</label>
              <div class="input-group mb-4 col-md-4">
                <input type="number" id="account-id-input" formControlName="margin" name="account-id-input"
                  class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label " for="product-cat-input">Proveedores</label>
              <div class="col-md-4 space-bottom-sm">
                <select id="product-cat-input" name="product-cat-input" formControlName="supplier" class="form-control">
                  <option value="null">Seleccione un proveedor</option>
                  <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</option>
                </select>
              </div>
              <div class="col-md-3 btn-group">
                <button type="button" class="btn btn-square btn-light" (click)="openCreateSupplierModal()"><span
                    class="fa fa-user-plus"></span>
                  Proveedores
                </button>
              </div>

            </div>
          </form>

        </tab>
        <tab heading="Inventario">
          <form [formGroup]='productForm' class="form-horizontal">
            <div class="form-group row">
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" formControlName="inCat" name="inCat" id="inCat"
                  checked>
                <label class="custom-control-label" for="inCat">
                  En el catálogo
                </label>
              </div>
              <label class="col-md-2 col-form-label" for="anual-cost">Coste de almacenamiento</label>
              <div class="col-md-4">
                <input type="number" id="anual-cost" formControlName="stockcost" name="anual-cost" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" name="isconstant" formControlName="isconstant"
                  id="isconstant">
                <label class="custom-control-label" for="isconstant">
                  ¿En todas las categorias?
                </label>
              </div>
              <label class="col-md-2 col-form-label" for="stockvolume">Volumen</label>
              <div class="col-md-4">
                <input type="number" id="stockvolume" formControlName="stockvolume" name="stockvolume"
                  class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="catorder">Orden en la categoria</label>
              <div class="col-md-4">
                <input type="number" id="catorder" formControlName="catorder" name="catorder" class="form-control">
              </div>
              <label class="col-md-2 col-form-label" for="printer">Impresora</label>
              <div class="col-md-4">
                <select id="printer" name="printer" formControlName="printto" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" formControlName="isservice" name="isservice"
                  id="isservice">
                <label class="custom-control-label" for="isservice">
                  Articulo de servicio
                </label>
              </div>
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" formControlName="warranty" name="warranty"
                  id="warranty">
                <label class="custom-control-label" for="warranty">
                  Garantia
                </label>
              </div>
            </div>
            <div class="form-group row">
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" formControlName="iscom" name="iscom" id="iscom">
                <label class="custom-control-label" for="iscom">
                  Auxiliar
                </label>
              </div>
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" formControlName="isscale" name="isscale"
                  id="isscale">
                <label class="custom-control-label" for="isscale">
                  Balanza
                </label>
              </div>
            </div>
            <div class="form-group row">
              <div class="custom-control custom-checkbox col-md-6">
                <input class="custom-control-input" type="checkbox" formControlName="isvprice" name="isvprice"
                  id="isvprice">
                <label class="custom-control-label" for="isvprice">
                  Precio Variable
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 btn-group space-bottom-sm">
                <button type="button" class="btn btn-square btn-light">
                  Mostrar existencias en inventario
                </button>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="items-container mat-elevation-z0">
                  <table mat-table [dataSource]="tableData">

                    <!-- Position Column -->
                    <ng-container matColumnDef="location">
                      <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
                      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="current">
                      <th mat-header-cell *matHeaderCellDef> Existencia </th>
                      <td mat-cell *matCellDef="let element"> {{element.current}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="minimum">
                      <th mat-header-cell *matHeaderCellDef> Minimo </th>
                      <td mat-cell *matCellDef="let element"> {{element.minimum}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="maximun">
                      <th mat-header-cell *matHeaderCellDef> Maximo </th>
                      <td mat-cell *matCellDef="let element"> {{element.maximun}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>

            </div>

          </form>
        </tab>
        <!--<tab heading="Imagen">Basic content 2</tab>-->
        <!--<tab heading="Botón" id="tab1">
          <form [formGroup]='productForm' class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="texttip">Mensaje</label>
              <div class="col-md-10">
                <input type="text" id="texttip" formControlName="texttip" name="texttip" class="form-control">
              </div>
            </div>
          </form>
        </tab>-->
        <tab heading="Características">
          <div class="form-group row">
            <div class="col-md-3">
              <app-item-list [items]="characteristics" haveFilter="true" [filterFields]="filterFields" listHeight="40em"
                itemName="description" (onClick)="selectCharacteristic($event)">
              </app-item-list>
            </div>
            <div class="col-md-1">
              <button type="button" (click)="addNewRow()" class="btn btn-primary">>></button>
            </div>
            <div class="col-md-8">
              <form [formGroup]="characteristicsForm" (ngSubmit)="onSubmit()">
                <table>
                  <thead *ngIf="characteristicsForm.controls.Rows.controls.length > 1">
                    <th>Característica</th>
                    <th>Valor</th>
                    <th>Acción</th>
                  </thead>
                  <tbody formArrayName="Rows" >
                    <tr *ngFor="let itemrow of characteristicsForm.controls.Rows.controls; let i=index;let l=last"
                      [formGroupName]="i">
                      <td>
                        <!-- <input formControlName="characteristic" class="form-control"> -->
                        <span class="form-control">{{itemrow['controls']?.description.value}}</span>
                      </td>
                      <td>
                        <span *ngIf="itemrow['controls']?.edit.value" class="form-control" style="width: 140px;">{{itemrow['controls']?.val.value}}</span>
                        <input *ngIf="!itemrow['controls']?.edit.value" formControlName="val" class="form-control" style="width: 140px;"
                        [ngClass]="{'is-invalid': !itemrow['controls']?.val?.valid && (itemrow['controls']?.val?.dirty || itemrow['controls']?.val?.touched) }">
                        <div class="invalid-feedback">
                          <div>El valor es requerido</div>
                        </div>
                        
                      </td>
                      <td>
                        <button *ngIf="itemrow['controls']?.edit.value" type="submit" (click)="editRow(i)" class="btn btn-light"><span class="fa fa-edit fa-lg"></span></button>
                        <button *ngIf="!itemrow['controls']?.edit.value"type="submit" (click)="saveRow(i)" class="btn btn-success"><span class="fa fa-save fa-lg"></span></button>
                        <button (click)="deleteRow(i)" class="btn btn-danger"><span class="fa fa-trash fa-lg"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>

            </div>
          </div>
        </tab>
        <tab disabled="true" customClass="item-name">
          <ng-template tabHeading>
            <a *ngIf="!product">
              Nuevo Registro
            </a>
            <a *ngIf="product">
              {{product.reference}} - {{product.name}}
            </a>
          </ng-template>
        </tab>
      </tabset>
    </div>
  </div>
</div>