.list-group{
    margin-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    background-color: #f0f3f5;
}

.list-group-item{
    background-color: #f0f3f5;
    border-color: #f0f3f5;
    max-height: 60px;
    //padding: 1px;
    text-overflow: ellipsis;
}

.list-group-item:hover{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
    transition: 0.25s ease-in-out;
    //border: 1px solid rgb(150, 149, 149);
    cursor: pointer;
}

.active{
    box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
    background-color: rgba(209, 213, 215, 0.5);
    color: #23282c;
    font-weight: 800;
}

.img-item{
    width: 55px;
    height: auto;
    max-height: 45px;
}