<div *ngIf='haveFilter'>
  <ng-select [items]="items" [bindLabel]="itemName" [isOpen]="false" (search)="onSearch($event)">
  </ng-select>
</div>

<cdk-virtual-scroll-viewport itemSize="50" minBufferPx="1200" maxBufferPx="1200" [ngStyle]="{'height':listHeight}"
  class="list-group">
  <div *ngIf="items">
    <div *cdkVirtualFor="let item of itemsTmp;" [style.border-color]="itemImage ? '#cfe1ec85 !important': '#f0f3f5'"
      [style.padding]="itemImage ? (item[itemImage] ? '1px' : '12px'): '12px'" class="list-group-item" [ngClass]="{'active': selectedItem == item}"
      (click)="clickItem(item)">
      <img [hidden]="!itemImage" [src]="!item[itemImage] ? '': item[itemImage]" class="img-item">
      {{item| itemListProperties:itemName}}
    </div>
  </div>
</cdk-virtual-scroll-viewport>