<br>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card mat-elevation-z4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]='receiptFilterForm' class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="ticket">Ticket # :</label>
                  <div class="col-md-9">
                    <input type="number" id="ticket" name="ticket" formControlName="ticket" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="tickettype">Tipo de ticket:</label>
                  <div class="col-md-9">
                    <select id="tickettype" name="tickettype" formControlName="tickettype" class="form-control">
                      <option value="">Seleccione un tipo de ticket</option>
                      <option *ngFor="let ticketType of ticketTypes" [value]="ticketType.value">{{ticketType.name
                        | translate}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-sm-3 col-form-label" for="date">Fecha de cierres de caja:</label>
                  <div class="col-md-5 col-sm-5 space-bottom-sm">
                    <input [bsConfig]="{ isAnimated: true, rangeInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="bsRangeValue"
                      [ngModelOptions]="{standalone: true}" class="form-control" #drp="bsDaterangepicker"
                      bsDaterangepicker>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="customerName">Cliente :</label>
                  <div class="col-md-6">
                    <input type="text" id="customerName" name="customerName" formControlName="customerName" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-success" (click)="openFindCustomerModal()">Encontrar Cliente</button>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="employee">Empleado :</label>
                  <div class="col-md-9">
                    <select id="employee" name="employee" formControlName="employee" class="form-control">
                      <option value="">Seleccione un Empleado</option>
                      <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="totalFilter">Total :</label>
                  <div class="col-md-6">
                    <select id="totalFilter" name="totalFilter" formControlName="totalFilter" class="form-control">
                      <option value="">Seleccione un Empleado</option>
                      <option *ngFor="let totalFilter of totalFilters" [value]="totalFilter.id">{{totalFilter.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <input type="text" id="total" name="total" formControlName="total" class="form-control">
                  </div>
                </div>

              </form>
              <div class="row">
                <div class="col-md-6 btn-group space-bottom-sm" role="group">
                  <button class="btn btn-light" (click)="clearForm()">Reiniciar <span class="fa fa-repeat"></span></button>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <button class="btn btn-success btn-block" (click)="execute()">Ejecutar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <growpos-master-detail-table [data]="receipts" [pageSize]="5" [displayedColumns]="displayedColumns" [dateFields]="dateFields"
        (onClick)="getRecord($event)"></growpos-master-detail-table>
    </div>
    <div class="col-md-6 ">
      <div class="row">
        <div class="col-md-6 btn-group space-bottom-sm" role="group">
          <button class="btn btn-light" (click)="refund()" [disabled]='receipt !== undefined ? (receipt.ticketType !== 0 || receipt.isRefund) : true'><span
              class="fa fa-repeat"></span> Devolver </button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 btn-group">
          <button class="btn btn-success" (click)="rePrint()" [disabled]='receipt === undefined '><span class="fa fa-print"></span>
            Reimprimir</button>
        </div>
      </div>
      <br>
      <div class="row" align="center">
        <div class="col-md-12">
          <div *ngIf="receipt !== undefined" class="card mat-elevation-z4 invoice" [style.width.mm]="hostConfig.size == '1' ? '62' : '100'"
            id="invoice-POS">
            <div align="center" id="top">
              <!--<img src="assets/favicon.ico" width="60px" height="60px" alt="GrowPOS">-->
              <h3><strong>{{hostConfig.companyName}}</strong></h3>
              <div class="info">
                <p>
                  Nit: {{hostConfig.nit}}<br>
                  Dirección: {{hostConfig.address}}<br>
                </p>
              </div>
            </div>

            <div id="mid">
              <div class="info" align="left">
                <p>
                  <span *ngIf="receipt.ticketType === 0"><strong>Ticket:</strong> {{hostConfig.prefix}}{{
                    receipt.ticketId }}<br></span>
                  <span *ngIf="receipt.ticketType === 1"><strong>Reembolso:</strong>{{ receipt.ticketId }}<br></span>
                  <strong>Fecha:</strong> {{ receipt.date | date:"short" }}<br>
                  <strong>Terminal:</strong> {{ receipt.host }}<br>
                  <strong>Atendido por:</strong> {{ receipt.user.name }}<br>
                </p>
                <p *ngIf="receipt.customer">
                  <strong>Cuenta #:</strong> {{receipt.customer.taxid}}<br>
                  <strong>Cliente:</strong> {{receipt.customer.name}}<br>
                  <strong>Direccion:</strong> {{receipt.customer.address}}<br>
                  <strong>E-mail:</strong> {{receipt.customer.email}}<br>
                  <strong>Telefono:</strong> {{receipt.customer.phone}}<br>
                  <strong>Deuda Actual:</strong> {{receipt.customer.curdebt}}<br>
                </p>
              </div>
            </div>

            <div id="bot">

              <div id="table">
                <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">
                  <tr class="tabletitle">
                    <td align="left">
                      <h2>Item</h2>
                    </td>
                    <td align="center">
                      <h2>Cant.</h2>
                    </td>
                    <td align="center">
                      <h2>Precio</h2>
                    </td>
                    <td *ngIf="hostConfig.size !== '1'" align="right">
                      <h2>SubTotal</h2>
                    </td>
                  </tr>

                  <tr class="service" *ngFor="let line of receipt.lines">
                    <td class="tableitem">
                      <p class="itemtext">{{line.attributes.name}}</p>
                    </td>
                    <td class="tableitem" align="center">
                      <p class="itemtext">{{line.multiply}}</p>
                    </td>
                    <td class="tableitem" align="center">
                      <p class="itemtext">${{line.price}}</p>
                    </td>
                    <td class="tableitem" align="right">
                      <p *ngIf="hostConfig.size !== '1'" class="itemtext">${{line.price * line.multiply}}</p>
                    </td>
                  </tr>

                  <tr class="tabletitle">
                    <td class="Rate">
                      <h3><strong>Total</strong></h3>
                    </td>
                    <td></td>
                    <td *ngIf="hostConfig.size !== '1'"></td>
                    <td class="payment" align="right">
                      <h3><strong>${{receipt.total}}</strong></h3>
                    </td>
                  </tr>
                </table>
                <div *ngFor="let payment of receipt.payments">
                  <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">
                    <div *ngIf="payment.payment === 'cash'">
                      <tr class="tabletitle">
                        <td class="Rate">
                          <h3><strong>Efectivo</strong></h3>
                        </td>
                        <td></td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                      </tr>
                      <tr class="tabletitle">
                        <td class="Rate">
                          Recibido:
                        </td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                        <td class="payment" align="right">
                          <h2><strong>${{payment.tendered}}</strong></h2>
                        </td>
                      </tr>
                      <tr class="tabletitle">
                        <td class="Rate">
                          Cambío:
                        </td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                        <td class="payment" align="right">
                          <h2><strong>${{payment.tendered - payment.total}}</strong></h2>
                        </td>
                      </tr>
                    </div>
                    <div *ngIf="payment.payment === 'magcard'">
                      <tr class="tabletitle">
                        <td class="Rate">
                          <h3><strong>Tarjeta</strong></h3>
                        </td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                        <td align="right">
                          <h2><strong>${{payment.total}}</strong></h2>
                        </td>
                      </tr>
                    </div>
                    <div *ngIf="payment.payment === 'cashrefund'">
                      <tr class="tabletitle">
                        <td class="Rate">
                          <h2><strong>Reembolso</strong></h2>
                        </td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                        <td align="right">
                          <h2><strong>${{payment.total}}</strong></h2>
                        </td>
                      </tr>
                    </div>
                    <div *ngIf="payment.payment === 'free'">
                      <tr class="tabletitle">
                        <td class="Rate">
                          <h2><strong>Gratis</strong></h2>
                        </td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                        <td align="right">
                          <h2><strong>${{payment.total}}</strong></h2>
                        </td>
                      </tr>
                    </div>
                    <div *ngIf="payment.payment === 'debt'">
                      <tr class="tabletitle">
                        <td class="Rate">
                          <h2><strong>A la cuenta</strong></h2>
                        </td>
                        <td></td>
                        <td *ngIf="hostConfig.size !== '1'"></td>
                        <td>
                          <h2><strong>${{payment.total}}</strong></h2>
                        </td>
                      </tr>
                    </div>
                  </table>
                </div>
                <table [style.width.mm]="hostConfig.size == '1' ? '58' : '96'">
                  <tr class="tabletitle">
                    <td class="Rate">
                      <h3><strong>Impuestos</strong></h3>
                    </td>
                    <td></td>
                    <td *ngIf="hostConfig.size !== '1'"></td>
                    <td class="payment" align="right">
                      <h3><strong>${{receipt.totalTaxes}}</strong></h3>
                    </td>
                  </tr>

                  <tr class="service" *ngFor="let tax of receipt.taxes">
                    <td class="tableitem">
                      <p class="itemtext">{{tax.tax.name}}</p>
                    </td>
                    <td *ngIf="hostConfig.size !== '1'"></td>
                    <td class="tableitem">
                      <p class="itemtext">{{tax.tax.rate}}</p>
                    </td>
                    <td class="tableitem" align="right">
                      <p class="itemtext">${{tax.amount}}</p>
                    </td>
                  </tr>

                </table>
              </div>

              <div id="legalcopy">
                <div align="center">
                  <p class="legal">
                    <span *ngIf="hostConfig.line1 !== '' && hostConfig.line1 !== null && hostConfig.line1 !== undefined">{{hostConfig.line1}}<br></span>
                    <span *ngIf="hostConfig.line2 !== '' && hostConfig.line2 !== null && hostConfig.line2 !== undefined">{{hostConfig.line2}}<br></span>
                    <span *ngIf="hostConfig.line3 !== '' && hostConfig.line3 !== null && hostConfig.line3 !== undefined">{{hostConfig.line3}}<br></span>
                    Impreso por www.growpos.co
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>